@font-face {
    font-family: 'UndergroundNFRegular';
    src: url('undergroundnf.eot');
    src: url('undergroundnf.eot') format('embedded-opentype'),
         url('undergroundnf.woff2') format('woff2'),
         url('undergroundnf.woff') format('woff'),
         url('undergroundnf.ttf') format('truetype'),
         url('undergroundnf.svg#UndergroundNFRegular') format('svg');
}
