/*======================================*/
/*--------------leo-matiz---------------*/
/*======================================*/
body.domain-proyectos-banrepcultural-org-el-sueño-de-la-razón{
        background-image: url(fondos/sueno-razon-fondo.jpg);
        background-size: cover;
        background-attachment: fixed;
        background-repeat: no-repeat;
        font-family: 'Montserrat', sans-serif !important;
}
.domain-proyectos-banrepcultural-org-el-sueno-de-la-razon #header-wrapper{
        background: rgba(255, 0, 0, 0.5);
}
.domain-proyectos-banrepcultural-org-el-sueno-de-la-razon .horario{
        border-right: 1px solid rgb(255, 255, 255);
        border-left: 1px solid rgb(255, 255, 255);
        font-family: 'Montserrat', sans-serif !important;
        font-weight: 400;
        font-size: 10px;
}
.domain-proyectos-banrepcultural-org-el-sueno-de-la-razon #nav-wrapper{
        background: rgb(0, 0, 0);
}
.domain-proyectos-banrepcultural-org-el-sueno-de-la-razon ul.nice-menu li:hover{
        background: #ba007c;
}
.domain-proyectos-banrepcultural-org-el-sueno-de-la-razon ul .active-trail a.active{
        color: #ba007c;
}
.domain-proyectos-banrepcultural-org-el-sueno-de-la-razon ul .active-trail a.active:hover{
        color: #FFF;
}
.domain-proyectos-banrepcultural-org-el-sueno-de-la-razon ul.nice-menu li:first-child{
        border-left: 1px solid rgb(255, 255, 255);
}
.domain-proyectos-banrepcultural-org-el-sueno-de-la-razon ul.nice-menu li{
        border-right: 1px solid rgb(255, 255, 255);
}
.domain-proyectos-banrepcultural-org-el-sueno-de-la-razon ul.nice-menu a{
        color: #FFF;
        font-size: 12px;
}
.domain-proyectos-banrepcultural-org-el-sueno-de-la-razon #main-content{
        background: rgba(255, 255, 255, 0.6);
}
.domain-proyectos-banrepcultural-org-el-sueno-de-la-razon #page-title{
        border-bottom: 0px;
}
.domain-proyectos-banrepcultural-org-el-sueno-de-la-razon h1#page-title,
.domain-proyectos-banrepcultural-org-el-sueno-de-la-razon h2#page-title{
        color: #ba007c;
        font-family: 'Montserrat', sans-serif !important;
}
.domain-proyectos-banrepcultural-org-el-sueno-de-la-razon h3#page-title{
        font-family: 'Montserrat', sans-serif !important;
}
.domain-proyectos-banrepcultural-org-el-sueno-de-la-razon #main-content{
        color: #000;
        font-family: 'Montserrat', sans-serif !important;
        font-weight: 400;
}
.domain-proyectos-banrepcultural-org-el-sueno-de-la-razon div.fortuna{
        color: #000;
        font-size: 30px;
        margin: 0 0 15px 0;
        font-family: 'Montserrat', sans-serif !important;
}
.domain-proyectos-banrepcultural-org-el-sueno-de-la-razon .view-exposiciones-proyectos .view-content a{
        color: #000;
}
.domain-proyectos-banrepcultural-org-el-sueno-de-la-razon #footer-wrapper{
        background: rgba(146, 146, 146, 0.5);
}
.domain-proyectos-banrepcultural-org-el-sueno-de-la-razon #footer-wrapper2{
        background: rgba(0, 0, 0, 0.5);
}