/*======================================*/
/*---------el-sueño-de-la-razon---------*/
/*======================================*/
body.site-name-el-sueño-de-la-razón{
        background-image: url(fondos/sueno-razon-fondo.jpg);
        background-size: cover;
        background-attachment: fixed;
        background-repeat: no-repeat;
        font-family: 'Cabin', sans-serif;
}
.site-name-el-sueño-de-la-razón a{
        color: #ec008c;
        text-decoration: none;
}
.site-name-el-sueño-de-la-razón #header-wrapper{
        background: rgba(0, 0, 0, 0.6);
}
.site-name-el-sueño-de-la-razón .horario{
        border-right: 1px solid rgb(255, 255, 255);
        border-left: 1px solid rgb(255, 255, 255);
        font-family: 'Cabin', sans-serif;
        font-size: 12px;
}
.site-name-el-sueño-de-la-razón #nav-wrapper{
        background: #FFF;
}
.site-name-el-sueño-de-la-razón ul.nice-menu li:hover{
        background: #000;
}
.site-name-el-sueño-de-la-razón ul.nice-menu li:hover a{
        color: #fff200;
}
.site-name-el-sueño-de-la-razón ul .active-trail a.active{
        color: #fff200;
	background: #000;
}
.site-name-el-sueño-de-la-razón ul .active-trail a.active:hover{
        color: #fff200;
	background: #fff;
}
.site-name-el-sueño-de-la-razón ul.nice-menu li:first-child{
        border-left: 1px solid rgb(0, 0, 0);
}
.site-name-el-sueño-de-la-razón ul.nice-menu li{
        border-right: 1px solid rgb(0, 0, 0);
}
.site-name-el-sueño-de-la-razón ul.nice-menu a{
        color: #000;
        font-size: 16px;
        font-family: 'Oswald', sans-serif;
}
.site-name-el-sueño-de-la-razón ul.nice-menu a.active:hover{
        color: #fff200;
}
.site-name-el-sueño-de-la-razón #main-content{
        background: rgba(225, 244, 253, 0.65);
}
.site-name-el-sueño-de-la-razón #main-content #content a{
        color: #ec008c;
}
.site-name-el-sueño-de-la-razón #page-title{
        border-bottom: 0px;
}
.site-name-el-sueño-de-la-razón h1#page-title,
.site-name-el-sueño-de-la-razón h2#page-title,
.site-name-el-sueño-de-la-razón h3#page-title,
.site-name-el-sueño-de-la-razón h4#page-title{
        color: #58595b;
        font-family: 'Oswald', sans-serif;
}
.site-name-el-sueño-de-la-razón #main-content{
        color: #000;
        font-family: 'Cabin', sans-serif;
}
.site-name-el-sueño-de-la-razón div.fortuna{
        font-size: 20px;
        color: #58595b;
        font-family: 'Oswald', sans-serif;
}
.site-name-el-sueño-de-la-razón .view-exposiciones-proyectos .view-content a{
        color: #000;
}
.site-name-el-sueño-de-la-razón #footer-wrapper{
        background: rgba(146, 146, 146, 0.5);
}
.site-name-el-sueño-de-la-razón #footer-wrapper2{
        background: rgba(0, 0, 0, 0.5);
}
/*======================================*/
/*-----------seccion galeria------------*/
/*======================================*/
.site-name-el-sueño-de-la-razón .node-obra-coleccion h2.field-label{
        color: #58595b;
        font-family: 'Oswald', sans-serif;
}
.site-name-el-sueño-de-la-razón .node-obra-coleccion .contextual-links-region{
        color: #000;
}
.site-name-el-sueño-de-la-razón .node-obra-coleccion ul.field-items a{
        color: #ec008c
}
/*======================================*/
/*---------------footer2----------------*/
/*======================================*/
.site-name-el-sueño-de-la-razón #footer-wrapper2 a{
        color: #ec008c;
}
.site-name-el-sueño-de-la-razón #footer-wrapper2 a:hover{
        color: #ffffff;
}