
@font-face {
  font-family: 'RelatoSansOT-Regular';
  src: url('RelatoSansOT-Regular.eot?#iefix') format('embedded-opentype'),  url('RelatoSansOT-Regular.otf')  format('opentype'),
	     url('RelatoSansOT-Regular.woff') format('woff'), url('RelatoSansOT-Regular.ttf')  format('truetype'), url('RelatoSansOT-Regular.svg#RelatoSansOT-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
