@import url(http://fonts.googleapis.com/css?family=Expletus+Sans:400,400italic,500,500italic,600,600italic,700,700italic);
@import url(http://fonts.googleapis.com/css?family=Overlock:400,700,900,400italic,700italic,900italic);
@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300italic,300,400italic,500,500italic,700,700italic,900,900italic);

:root * { filter: progid:DXImageTransform.Microsoft.gradient(enabled='false') !important; } 
div:not([dummy]) {
    /* IE9 only */
    filter: progid:DXImageTransform.Microsoft.gradient(enabled='false') !important;;
}

sub, sup{
	font-size: 80%;
}
#backtotop{
	 bottom:43px;
}

body{
	 font-family: Helvetica, Arial, sans-serif; 
	 background:#E5E5E5;
}
	
.block {
	margin-bottom:0;
}

.search-info { 
	display: none;  }
#header-wrapper{
	height: 100px;
	background:#FFF;
	box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.03);
}
#content-wrapper{
	line-height:normal;
}
#logo img {
	vertical-align: bottom;
	margin-top: 10px;
}

.container {
	width: 100% !important;
	max-width: 1000px !important;
}

.item-list .pager{
	padding-top:10px;
}
#block-menu-menu-top-actividad-cultural {
width: 1000px;
margin: 0 auto;
background: #CFCFCF;
}
/*  ENCABEZADO   */
.region-header{
	position:absolute;
	width:100%;
	right:0;
	top:0;
}

#leaderboard-wrapper .container{
	position:relative;
}
#leaderboard-wrapper {
	position: absolute;
	width:100%;
	font-family: 'Roboto', sans-serif;
	font-size: 11px;
	letter-spacing: 0.05em;

}
#header{
	position: relative;
}
#header #block-search-form{
	position: absolute;
	right: 75px;
	top: 53px;
}

#header #block-search-form input[type="search"] {
	border: 0 none;
	font-size: 11px;
	height: 20px;
	padding: 0 20px 0 5px;
	width: 140px;
	background: rgba(106, 106, 106, 0.3);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#B293A4AF,endColorstr=#B293A4AF);
	color:#FFF;
}
#header #block-search-form input[type="submit"] {
	position: absolute;
	background: url("/proyectos.banrepcultural.org/sites/default/files/icon_submit.png") no-repeat;
	height: 14px;
	right: 13px;
	top: 5px;
	width: 10px;
	text-indent: -9999px;
	border: 0px;
}

#header #block-views-logos-block{
	height: 80px;
	width: 350px;
	float: left;
	padding: 10px 0;
	margin: 0;
}
#header #block-views-logos-block p{
	margin: 0;
	padding: 8px 10px 0 0;
	color: #888888;
	font-size: 23px;
	font-family: 'UndergroundNFRegular';
	line-height: 32px;
}
#header #block-views-destacado-header-block{
	float: left;
	margin: 15px 0px 0 33px;
}
#header #block-block-16{
	position:relative;
	margin:5px 0 0 0;
	float:right;
}

#header #block-block-16 .contenido{
	float:right;
	margin-top: 12px;
}
#header #block-block-16 a{
	text-decoration:none;
	color:#72AABB;
}
#header #block-block-16 a:hover{
	color:#DBA555;
}
.minlogo{
	float: left;
	margin-top: 6px;
}
.horario{
	float: left;
	width: 300px;
	padding: 0 20px;
	margin: 7px 0 0 0;
	border-left: 1px solid #3C6D55;
	border-right: 1px solid #3C6D55;
	line-height: 17px;
	color: #FFF;
	font-size: 15px;
	/*font-family: 'MrsEavesXLSerifNarOTRegItalic';*/

}
.social-links {
	float:left;
	margin-right: 20px;
	height: 30px;
	margin-top: 7px;
	margin-bottom: 25px;
}
.social-links ul {
	overflow: hidden;
	margin: 0px 0px 22px 30px;
	padding: 0px;
	width: 160px;
	list-style: none;
}
.social-links li {
	float: right;
	margin: 0 0 0 6px;
}
.social-links a {
	display: block;
	width: 22px;
	height: 22px;
	background-position: left top;
	background-repeat: no-repeat;
	text-indent: -10000em;
	text-decoration: none;
}
.social-links a.botom {
	display: block;
	width: 116px;
	height: 20px;
	background: rgba(147, 164, 175, 0.7);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#B2AF9393,endColorstr=#B2AF9393);
	font-weight: 700;
	text-indent: inherit;
	color: #FFF !important;
	text-align: center;
	line-height: 20px;
}
.social-links a.botom:hover {
	background: rgba(219, 165, 85, 1);
}
.social-links li.twitter a {
	background: url(/proyectos.banrepcultural.org/sites/default/files/links.png) -22px -23px no-repeat;
}
.social-links li.twitter a:hover {
	background: url(/proyectos.banrepcultural.org/sites/default/files/links.png) -22px -23px no-repeat;
}
.social-links li.facebook a {
	background: url(/proyectos.banrepcultural.org/sites/default/files/links.png) 0px -23px no-repeat;
}
.social-links li.facebook a:hover {
	background: url(/proyectos.banrepcultural.org/sites/default/files/links.png) 0px -23px no-repeat;
}
.social-links li.google a {
	background: url(/proyectos.banrepcultural.org/sites/default/files/links.png) -43px -23px no-repeat;
}
.social-links li.google a:hover {
	background: url(/proyectos.banrepcultural.org/sites/default/files/links.png) -43px -23px no-repeat;
}



#menu-bar{
	margin: 0;
}
#nav-wrapper{
	background: #5F98C2;
}
/*--------------------------------------*/
/*-------------- menu -----------------*/
/*-------------------------------------*/

/*LINK CONTACTO
#block-block-24{
	font-size: 13px;
	letter-spacing: 1px;
	font-weight: 300;
	float: left;
	height: 33px;
	line-height: 33px;
}
*/

nav.block-nice-menus{
	font-size: 17px;
	/* letter-spacing: 1px; */
	font-weight: 300;
	float: left;
	font-family: 'MrEavesSanOTReg';
}
ul.nice-menu ul {
	border:0 ;
}

.nav li a, .nav ul.menu li a{
	padding-left:15px;
	padding-right:15px;
}
ul.nice-menu li{
	border: none;
	background: transparent;
	display: inline-block;
	
}
ul.nice-menu li:first-child{
}
ul.nice-menu-down .menuparent a {
	padding-right: 15px;
	display:block;
	height:40px;
}
ul.nice-menu a{
	text-decoration: none;
	color: #fff;
	display: block;
	height: 40px;
	line-height: 40px;
}
ul.nice-menu a:hover, ul.nice-menu .menuparent.over a{
	color: #fff;
}
ul.nice-menu li:hover{
	background: #627C8F;
}
ul.nice-menu-down li.menuparent {
	background: transparent;
}
ul.nice-menu-down li.menuparent:hover {
background: rgba(98, 124, 143, 0.8);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#CC627C8F,endColorstr=#CC627C8F);
}
/* segunda lista */
ul.nice-menu li.menuparent ul{
	top:40px;
	background: rgba(98, 124, 143, 0.8);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#CC627C8F,endColorstr=#CC627C8F);
}
ul.nice-menu li.menuparent ul li{
	  border-top: 1px solid rgb(146, 172, 181);
	border-right:none;
	border-left:none;
	width: 100%;
}
ul.nice-menu li.menuparent ul li a{
	color:#fff !important;
}
ul.nice-menu li.menuparent ul li a:hover{
	color: #fff !important;
}
ul.nice-menu li.menuparent ul li:hover{
	background: rgba(98, 124, 143, 0.8);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#CC627C8F,endColorstr=#CC627C8F);
}	
ul.nice-menu-down li li.menuparent {
	background: rgba(98, 124, 143, 0.8);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#CC627C8F,endColorstr=#CC627C8F);
}
/* tercera lista */
ul.nice-menu li.menuparent ul li ul{
	margin-top:0px;
}
ul.nice-menu li.menuparent ul li ul li{
	width:auto;
	background: rgba(98, 124, 143, 0.8);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#CC627C8F,endColorstr=#CC627C8F);
	border-top: 1px solid rgb(49, 90, 56););
	border-right:none;
	border-left:none;
}
ul.nice-menu li.menuparent ul li ul li:hover{
	background: rgba(98, 124, 143, 0.8);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#CC627C8F,endColorstr=#CC627C8F);
}


/* estilos home */
.content-inner {
    margin-right: 0px;
    margin-left:0 !important;
}
.front #main-content .views-field-body{
	width: 460px;
	float: left;
	margin-right: 20px;
	margin-bottom: 20px;
}
.view-inicio .views-row {
	position: relative;
}
.front .views-field-field-video{
	padding-top: 50px;
	position: absolute;
	right: 0;
	width: 410px;
}
.front .views-field-field-video .player{
	/*position:fixed;*/
}

.front .views-field-field-video iframe{
	width: 400px;
}
.front .views-field-nothing-1{
	clear: both;
}

h2, #page-title{
	color: #666666;
	text-transform: uppercase;
	font-size: 24px;
	line-height:24px;
	letter-spacing:1px;
	padding:22px 0 5px 0;
	margin:0 0 22px 0;
	border-bottom: 1px dotted rgb(178, 178, 178);
	font-family:"Underground", Arial, Helvetica, sans-serif;
}

h3{
	color: #fff;
	text-transform: uppercase;
	font-size: 15px;
	line-height: 18px;
	font-family: 'Expletus Sans', cursive;
	padding: 15px 0;
	margin: 0;
	font-weight: 600;
	letter-spacing: 0.05em;
	text-align:center;
}

.fortuna{
	color: #DBA555;
}

#footer-wrapper{
	position:relative;
	width:100%;
	height: auto;
	background:none;
	background: #CFCFCF;;

}
footer .block{
	float: left;
}
footer .block, footer h2, footer a{
	color: #fff;
}
#block-block-6{
	width: auto;
	margin-left:30px;
}
#block-block-8{
	width: auto;
}
#block-block-12{
	width: 68px;
	margin:10px 0 0 0;
}
#footer p{
	margin: 0;
}

#footer-wrapper2{
	position:relative;
	width:100%;
	background: #3A3A3A;
}
#footer-wrapper2 a{
	color:#D7D7D7 ;
	font-size:11px;
}
#footer-wrapper2 a:hover{
	color:#DBA555;
}

#footer-wrapper2 .block-inner{
	padding-top:10px;
}

#footer2 .footer_links{
	color: #d7d7d7;
    padding: 10px 0 20px 15px;
}
#footer2 .footer_links a{
	font-size:12px;
}
#footer2 .link{
	display:none;
}

#block-system-main {
	height: 100%;
}

/*------ FOOTER HORARIOS -----*/
#block-views-bloque-fechas-y-horarios-block{
	width:550px;
	margin:0 70px;
	padding:20px 0;
}
#block-views-bloque-fechas-y-horarios-block .columna1{
	float: left;
	width: 45%;
	margin-right: 5%;
	text-align: right;
}
#block-views-bloque-fechas-y-horarios-block .columna2{
	float: left;
	width: 50%;
}
/*------- FOOTER INFO BANCO -------*/
.infoBanco{
	width:100%;
	color:#cccccc;
	font-size: 12px;
	line-height: 16px;
}
.columnaUno{
	padding: 5px 15px;
	width:21%;
	float:left;
}
.columnaDos{
	padding: 5px 15px;
	width:27%;
	float:left;
}
.columnaTres{
	padding: 5px 15px;
	width:42%;
	float:left;
}
.footerHorarios{
	font-family: 'Lucida Grande', 'Lucida Sans Unicode', sans-serif;
	font-size: 10px;
	line-height: 13px;
}


/*-------- vista exposición ---------------*/
.view-vista-temas .view-header,
.view-exposicion .view-header, 
.view-la-sala-en-exceso .view-header,
.view-la-sombra-de-una-sombra .view-header,
.view-tiempo-vertical .view-header,
.view-una-mirada-hacia-atr-s .view-header,
.view-expo .view-header{
	float: left;
	width: 48%;
	margin-right:4%;
}
.view-una-mirada-hacia-atr-s .view-header .view-content,
.view-expo .view-header .view-content{
	width:100%;
}
.view-una-mirada-hacia-atr-s .view-header .view-content .views-field,
.view-expo .view-header .view-content .views-field{
		text-align:left !important;
}


.view-vista-temas .view-content,
.view-exposicion .view-content, 
.view-la-sala-en-exceso .view-content,
.view-la-sombra-de-una-sombra .view-content,
.view-tiempo-vertical .view-content,
.view-una-mirada-hacia-atr-s .view-content,
.view-expo .view-content{
	float: left;
	width: 48%;
	margin:0 auto;
}
.view-vista-temas table,
.view-exposicion table, 
.view-la-sala-en-exceso table,
.view-la-sombra-de-una-sombra table,
.view-tiempo-vertical table,
.view-una-mirada-hacia-atr-s table,
.view-expo table{
	border:none;
	float:right;
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
	letter-spacing: 0.05em;
	font-size: 11px;
	line-height: 1.5;
	margin:0;
	right:0;
	margin-top:46px;
}
.view-expo table{
	margin-top:0px !important;
}
.view-vista-temas .views-field,
.view-exposicion .views-field, 
.view-la-sala-en-exceso .views-field,
.view-la-sombra-de-una-sombra .views-field,
.view-tiempo-vertical .views-field,
.view-una-mirada-hacia-atr-s .views-field,
.view-expo .views-field{
	text-align:center;
}
.view-vista-temas img,
.view-exposicion img, 
.view-la-sala-en-exceso img,
.view-la-sombra-de-una-sombra img,
.view-tiempo-vertical img,
.view-una-mirada-hacia-atr-s img,
.view-expo img{
border: 3px solid rgb(61, 62, 62);
}
.view-vista-temas table tbody tr,
.view-exposicion table tbody tr, 
.view-la-sala-en-exceso table tbody tr,
.view-la-sombra-de-una-sombra table tbody tr,
.view-tiempo-vertical table tbody tr,
.view-una-mirada-hacia-atr-s table tbody tr,
.view-expo table tbody tr{
	border:0px;
}
.view-vista-temas table tbody td,
.view-exposicion table tbody td, 
.view-la-sala-en-exceso table tbody td,
.view-la-sombra-de-una-sombra table tbody td,
.view-tiempo-vertical table tbody td,
.view-una-mirada-hacia-atr-s table tbody td,
.view-expo table tbody td{
	width:50%;
}
.view-vista-temas h3,
.view-exposicion h3, 
.view-la-sala-en-exceso h3,
.view-la-sombra-de-una-sombra h3,
.view-tiempo-vertical h3,
.view-una-mirada-hacia-atr-s h3,
.view-expo h3{
	text-align:left;
}



#block-block-14{
	font-family: 'Roboto', sans-serif;
}

.page-node-980 #page-title,
.page-node-978 #page-title{
	display: none;
}
.page-node-980 #main-content{
	height:650px;
}	
.page-node-978 #main-content{
	padding: 20px 30px;

}
.page-node-980 #footer-wrapper2,
.page-node-980 #footer-wrapper{
	display: none;
}
.page-node-980 .container{
	max-width: 100% !important;
}

/*---- resultados búsqueda ----------*/
.search-results .title{
	font-size:1em;
	line-height:1em;
}
/*------VISTA DESTACADOS HOME --------*/
.views-responsive-grid{
	width:100%;
}
.views-responsive-grid .views-row{
	width:100%;
	margin:0;
	padding:0;
	overflow:hidden;
}

.views-responsive-grid .views-column {
	width: 48%;
	padding: 0;
	padding-bottom:15px;
	border-bottom: 1px dotted rgb(178, 178, 178);
	margin-bottom: 2%;
	float:left;
	height: 100%;
	position:relative;
}
.views-responsive-grid .views-column.views-column-1{
	margin-right:4%;
}
.views-field-field-imagen-proyecto{
	width:43%;
	float:left;
}
.views-responsive-grid .views-field-nothing{
	width:57%;
	float:left;
	height:175px;
	position:relative;
}
.views-responsive-grid .titulo{
	font-size: 17px;
  font-weight: 600;
  padding-bottom: 8px;
  color:#666666;
}
.views-responsive-grid .fecha,
.views-responsive-grid .lugar{
	font-size: 12px;
  padding-bottom: 8px;
  color: #818181;
}
.views-responsive-grid .fecha{
	font-style:italic;
}
.views-responsive-grid .url{
	position:absolute;
	bottom:0;
}
.views-responsive-grid .url a{
  font-size: 11px;
  font-weight: 700;
  padding: 5px 10px;
  background: #666666;
  color: #fff;
}

.view-destacado-proyectos .views-exposed-form{
	border-bottom: 1px dotted rgb(178, 178, 178);
    margin-bottom: 20px;
}
.view-destacado-proyectos .views-exposed-form .form-type-bef-link{
	float:left;
	  float: left;
  height: 20px;
  padding: 4px 12px;
}
#edit-field-estado-exposicion-tid-all{
	padding-left:0;
}
.view-destacado-proyectos .views-exposed-form .form-type-bef-link a{
	color:#a2a2a2;
}
#edit-field-estado-exposicion-tid-229{
	  border-left: 1px dotted #ccc;
  border-right: 1px dotted #ccc;
}
#edit-field-fecha-de-exposicion-value-wrapper{
	float:right;
	  float: right;
  margin-top: 11px;
  padding: 0;
}
.section-exposiciones #page-title{
	margin-bottom:0;
}

/*------- MENU TOP ------------*/
.region-bg-position{
	background:#FFF;
}

/* Estilos del menu general del Banco de la República */
.menu-top-banrep {
  font-family: 'Overlock', cursive;
  margin: 0;
  background: rgb(255, 255, 255) !important;
}
.menu-top-banrep ul.menu {
  padding: 0;
  display: table;
  margin: 0 auto;
  height: 28px;
  line-height: 28px;
  text-transform: uppercase;
  font-size: 11px;
  letter-spacing: 0.018em;
  font-weight: 500;
}
.menu-top-banrep ul.menu li {
  display: inline-block;
}
.menu-top-banrep ul.menu li a {
  color: #FFF;
  padding: 0 10px;
  display: block;
}
.menu-top-banrep ul.menu li:nth-child(1) {
  background-color: #7D7D7D;
}
.menu-top-banrep ul.menu li:nth-child(2) {
  background-color: #866699;
}
.menu-top-banrep ul.menu li:nth-child(3) {
  background-color: #EE9900;
}
.menu-top-banrep ul.menu li:nth-child(4) {
  background-color: #A5B733;
}
.menu-top-banrep ul.menu li:nth-child(5) {
  background-color: #559CC4;
}
.menu-top-banrep ul.menu li:nth-child(6) {
  background-color: #A06B30;
}
.menu-top-banrep ul.menu li:nth-child(7) {
  background-color: #CC0022;
}

/* Menú general: en responsive se oculta */
@media only screen and (min-width:280px) and (max-width:999px){
/*--------------------------*/
/*-------- GENERAL ---------*/
/*------------------------*/
  #bg{
    display:none;
  }
}
/* Fin Menú general: en responsive se oculta */

/* Fin Estilos del menu general del Banco de la República */