/* Estilos >Boletín Cultural */

@font-face {
	font-family: 'latobold';
	src: url('../fonts/lato-bold-webfont.eot');
	src: url('../fonts/lato-bold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/lato-bold-webfont.woff') format('woff'), url('../fonts/lato-bold-webfont.ttf') format('truetype'), url('../fonts/lato-bold-webfont.svg#latobold') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'latoregular';
	src: url('../fonts/lato-regular-webfont.eot');
	src: url('../fonts/lato-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/lato-regular-webfont.woff') format('woff'), url('../fonts/lato-regular-webfont.ttf') format('truetype'), url('../fonts/lato-regular-webfont.svg#latoregular') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'open_sansbold';
	src: url('../fonts/opensans-bold-webfont.eot');
	src: url('../fonts/opensans-bold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/opensans-bold-webfont.woff') format('woff'), url('../fonts/opensans-bold-webfont.ttf') format('truetype'), url('../fonts/opensans-bold-webfont.svg#open_sansbold') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'open_sansregular';
	src: url('../fonts/opensans-regular-webfont.eot');
	src: url('../fonts/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/opensans-regular-webfont.woff') format('woff'), url('../fonts/opensans-regular-webfont.ttf') format('truetype'), url('../fonts/opensans-regular-webfont.svg#open_sansregular') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'open_sanssemibold';
	src: url('../fonts/opensans-semibold-webfont.eot');
	src: url('../fonts/opensans-semibold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/opensans-semibold-webfont.woff') format('woff'), url('../fonts/opensans-semibold-webfont.ttf') format('truetype'), url('../fonts/opensans-semibold-webfont.svg#open_sanssemibold') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'times_tenregular';
	src: url('../fonts/times_ten_roman-webfont.eot');
	src: url('../fonts/times_ten_roman-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/times_ten_roman-webfont.woff') format('woff'), url('../fonts/times_ten_roman-webfont.ttf') format('truetype'), url('../fonts/times_ten_roman-webfont.svg#times_tenregular') format('svg');
	font-weight: normal;
	font-style: normal;
}

body {
	font-size: 12px
}
.contextual-links-trigger {
	font-size: 0;
}
html, body {
	background: #F0F0F8; /*url(imgage/backgrounds/bg_body.png) repeat;*/
	color: #333;
	font-family: 'Open Sans', sans-serif;
}
.front #page-title {
	display: none;
}
#columns {
	padding-bottom: 70px;
}
tr.info, tr.even, tr:nth-child(2n+2){
	background:none;
}

/* header */
#header {
	height: 223px;
	position: relative;
}
#block-views-banner-home-block{
	margin:0;
}
#header .header-image {
	height: 151px;
	border: 1px solid #f0f;
}
.front #main-content,
.front #content{
	margin-top:0;
}
#main-content #main-content-header {
	/*display: none;*/
}
a, #breadcrumb a {
	color: #218CA7;
	border: none;
}
#breadcrumb {
	color: #666;
}
#breadcrumb li {
	float: left;
}
#breadcrumb li span {
	margin-top: 4px;
	color: #666;
	border: none;
}
/* moneda logo banrep */
#block-block-4 {
	position: absolute;
	top: 48px;
	left: 860px;
	z-index: 5;
}
#branding {
	position: absolute;
	top: 12px;
	left: 20px;
	z-index: 1;
}
#site-name a:hover, #site-name a:link {
	text-decoration: none;
}

#name-and-slogan {
	position: absolute;
	top: 30px;
	left: 60px;
	font-size: 26px;
	color: #000;
	font-weight: lighter;
	font-family: helvetica;
}
#name-and-slogan a {
	color: #000;
	text-decoration: none;
}
#main-content, #content {
	margin-top: 25px;
}
#first-time, header.main-content-header {
	display: none;
}
.region-header {
	position: relative;
}
#page-title {
	font-size: 25px;
	color: #218CA7;
	border-bottom: 1px solid #ccc;
	text-transform: uppercase;
	line-height:30px;
	padding-bottom:15px;
}
/* top menu */

#block-menu-menu-top-menu, #block-menu-menu-top-menu ul.menu {
	margin: 0;
	padding: 0;
}
#block-menu-menu-top-menu ul.menu li {
	list-style: none;
	float: left;
}
#block-menu-menu-top-menu ul.menu li.last {
	background: #CC0022;
	width: 79px;
}
#block-menu-menu-top-menu ul.menu li a {
	/*
	 display: block;
	 font-family: latoregular;
	 font-size: 10px;
	 text-transform: uppercase;
	 height: 32px;
	 line-height: 32px;
	 padding: 0 14px;
	 color: #fff;*/
	display: block;
	font-family: latoregular;
	font-size: 10px;
	text-transform: uppercase;
	height: 32px;
	line-height: 32px;
	padding: 0px 10pt 0 10pt;
	color: #fff;
	text-align: center;
	min-width: 54px;
	width: auto;
}
#block-menu-menu-top-menu ul.menu li a:hover {
	text-decoration: none;
}
#actividad-cultural {
	background: #7D7D7D;
}
#areas-culturales {
	background: #866699;
}
#arte-y-numismatica {
	background: #EE9900;
}
#bibliotecas {
	background: #A5B733;
}
#bvirtual {
	background: #559CC4;
}
#museo-del-oro {
	background: #A06B30;
}
#musica {
	background: #CC0022;
}

/* main menu */

#menu-bar {
	margin-top: 0px;
	width: 940px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0px;
	height: 33px;
	line-height: 33px;
	background: black;
	position: relative;
}
ul.nice-menu-down li.menuparent {
	background: none;
}

ul.nice-menu ul, ul.nice-menu li, ul.nice-menu-down li li.menuparent, ul.nice-menu-down li li.menuparent:hover, ul.nice-menu-down li.menuparent:hover {
	background: none;
	border: 0px;
}
ul.nice-menu ul li {
	min-width: 150px;
	width: auto;
}
span.nolink {
	cursor: pointer;
}
span.nolink, .nav li a, .nav ul.menu li a, ul.nice-menu-down .menuparent a {
	margin-top: 11px;
	border-left: 1px solid #666;
	border-right: 1px solid #CCC;
	color: white;
	display: block;
	height: 13px;
	line-height: 13px;
	font-family: 'Lato', sans-serif;
	font-size: 11px;
	font-weight: 700;
	letter-spacing: 0.1em;
	padding: 0 16px;
	text-decoration: none;
	text-transform: uppercase;
}
.nav li.last a, .nav ul.menu li.last a, .nav ul.menu li.last a, ul.menu li.last a {
	border-right: none;
}
span.nolink:hover, .nav ul.menu li a:hover, ul.nice-menu-down .menuparent a:hover, .nav ul.menu li a.active, ul.nice-menu-down .menuparent a.active {
	color: #BD8300;
	text-decoration: none;
}
ul.nice-menu li.menuparent ul li a {
	border: 0px;
}
ul.nice-menu li.first a {
	border-left: none;
}
ul.nice-menu .menuparent.first ul {
	margin-left: -15px;
}
ul.nice-menu li.menuparent ul {
	margin-top: 11px;
	padding: 0 0 10px 0;
	background: rgba(0,0,0,0.8);
	min-width: 150px;
}
ul.nice-menu li.menuparent ul li.menuparent ul {
	margin-top: 0;
	margin-left: 1px;
}

.region-sidebar-second, .region-highlighted {
	margin-top: 21px;
}
/* Estilos bloques titulos */
h2.block-title {
	margin-left: 0px;
	/* margin-top: 17px; */
	padding-top: 17px;
	font-size: 13px;
	padding-bottom:10px;
	text-transform: inherit;
}
#block-views-indice-resenas-block h2.block-title {
	text-transform: uppercase;
}
.container-inline .form-actions, .container-inline.form-actions {
	margin-top: -19px;
	margin-bottom: 0;
	/* margin-left: 125px; */
	float: right;
}

/* View slide articulos home */


.flexslider {
	background: #fff;
	padding: 18px;
	border: 1px solid #dfdfdf;
	margin-top: 7px;
	  -webkit-box-shadow: 0 1px 4px rgba(0,0,0,0);
  -moz-box-shadow: 0 1px 4px rgba(0,0,0,0);
  -o-box-shadow: 0 1px 4px rgba(0,0,0,0);
  box-shadow: 0 1px 4px rgba(0,0,0,0);
}
.flexslider .slides{
	padding:0;
}
#block-views-articulos-de-revista-block-1 .views-field-field-image {
	float: left;
	margin-right: 21px;
}
#block-views-articulos-de-revista-block-1 .article-data a {
	color: #218CA7;
	font-size: 12px;
	font-weight:700;
	text-transform: uppercase;
}
#block-views-articulos-de-revista-block-1 .article-data .view-more a {
	text-transform: none;
	font-size: 12px;
	position: absolute;
	bottom: 0;
	right: 0;
	float: right;
	height: 22px;
	background: #218ca7;
	color: #FFF;
	display: block;
	padding: 0 10PX;
	line-height: 22px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	font-weight: 500;
}
.flex-control-paging li a{
	background:#CCCCCC;
	margin:0 2px;
}
.flex-control-paging li a.flex-active{
	background:#FFBF00;
}
.flexslider:hover .flex-prev{
	left:5px;
}
.flexslider:hover .flex-next{
	right:5px;
}
.article-autor-wrapper{
	padding:7px 0;
}




#block-views-articulos-de-revista-block-1 .views-content-counter {
	font-size: 0;
	width: 12px;
	height: 12px;
	background: url(images/slide-pager-inactive.png);
	cursor: pointer;
}
#block-views-articulos-de-revista-block-1 .active .views-content-counter, #block-views-articulos-de-revista-block-1 .views-content-counter:hover {
	background: url(images/slide-pager-active.png);
}
#block-views-articulos-de-revista-block-1 .views-slideshow-controls-bottom {
	margin-top: 10px;
	margin-left: 300px;
}
#block-views-articulos-de-revista-block-1 .views-slideshow-pager-field-item {
	float: left;
	margin-right: 9px;
}
/**/
/* Vista ultimo nuero del home */
#block-views-portada-ultimo-nro-block-1 {
	margin-top: 20px;
	font-size: 14px;
}
#block-views-portada-ultimo-nro-block-1 .views-field-body {
	width: 550px; /*antes 480*/
	float: left;
	margin-left: 30px; /*antes 70px*/
	margin-top: 30px;
}
.view-portada-ultimo-nro .views-field-view-node a{
	float:right;
	height:30px;
	background:#218ca7;
	color: #FFF;
	display: block;
	padding: 0 20PX;
	line-height:30px;
	margin-top:18px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	font-weight:500;
}
#block-views-portada-ultimo-nro-block-1 .views-field-field-portada {
	float: left;
	margin-right: 20px;
}

.wrapper-lastnumber {
	line-height: 21px;
}
.wrapper-lastnumber .title {
	margin-bottom: 15px;
}
.wrapper-lastnumber .title a {
	color: #218CA7;
	font-size: 22px;
	text-transform: uppercase;
	margin-bottom: 20px;
}
a.view-more-txt {
	color: #218CA7;
	font-weight: bold;
	font-size: 12px;
}

/* View reseñas home */
#block-views-resenas-block,
#block-block-2 .block-inner, #block-views-articulos-de-revista-block-1 .block-inner {
	  border-top: 1px solid rgba(0,0,0,.15);
}
#block-views-resenas-block h2,
#block-views-articulos-de-revista-block-1 .block-inner h2{
	color:#6E6E6E;
	font-weight:700;
	font-size:13px;
	padding-top:15px;
}

.view-resenas{
	margin-top:7px;
}
.view-resenas .views-responsive-grid .views-column{
	width:49%;
	float:left;
	margin-bottom:7px;
}
.view-resenas .views-responsive-grid .views-column.views-column-1{
	margin-right:2%;

}
.view-resenas .views-responsive-grid .views-row{
	display:inline-block;
}
.view-resenas .resena-wrapper {
	padding: 15px;
	background: #fff;
	border: 1px solid #DFDFDF;
	display:inline-block;
	position:relative;
}
.resena-wrapper .imagePortada {
	float: left;
	margin-right: 11px;
}
.resena-wrapper .title a {
	font-size: 12px;
	text-transform: uppercase !important;
	color: #F23D6C;
	font-weight: bold;
}
.resena-wrapper .resena .field-autor .label {
	font-weight: bold;
	margin-right: 3px;
}
.resena-wrapper .resena .body {
	color: #666;
}

.region-sidebar-second a {
	color: #218CA7 !important;
	font-size: 10px !important;
	text-transform: uppercase !important;
	text-decoration: none !important;
}
.region-sidebar-second a img{
	  border: 5px solid #fff;
  -webkit-box-shadow: 0px 0px 5px 1px rgba(102,102,102,0.2);
  -moz-box-shadow: 0px 0px 5px 1px rgba(102,102,102,0.2);
  box-shadow: 0px 0px 5px 1px rgba(102,102,102,0.2);
}
.region-sidebar-second .views-field-field-image{
	margin-top:10px;
}
.region-sidebar-second .RightUno{
	border-bottom:1px solid #ccc;
	padding-bottom:20px;
	margin-right:15px;
}
.region-sidebar-second .block{
	margin-bottom:0;
}
.region-sidebar-second .views-field-field-image {
	text-align: center;
}
.resena-wrapper a.view-more-txt{
	position:absolute;
	bottom:25px;
}
.resena-wrapper .field-autor{
	padding:5px 0;
}
.BTN{
height: 35px;
  background: #218ca7;
  color: #FFF;
  display: block;
  padding: 0 20PX;
  line-height: 35px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  font-weight: 500;
  background: #218CA7;
  text-align: center;
  WIDTH: 340PX;
  margin: 0 auto;
}


/* lista de articulos y reseñas */
.articulo_boletin .group-left{
	width: 30%;
}
.articulo_boletin .group-left img{
	border: 5px solid #fff;
  -webkit-box-shadow: 0px 0px 5px 1px rgba(102,102,102,0.2);
  -moz-box-shadow: 0px 0px 5px 1px rgba(102,102,102,0.2);
  box-shadow: 0px 0px 5px 1px rgba(102,102,102,0.2);
}
.articulo_boletin .group-right{
	width: 70%;;
}
.articulo_boletin .group-right h2{
	margin-top:0;
	line-height:22px;
}
	

/* Vista indice */

.index-view-wrapper .index-view-image {
	float: left;
	margin-right: 3px;
	margin-top: 5px;
	border: 1px solid #ccc;
}
.index-view-wrapper .index-view-data {
	font-size: 11px;
}
.index-view-wrapper  .field-title a, .index-view-wrapper  .field-title {
	color: #F23D6C;
	font-weight: bold;
	font-size: 11px;
}
#view-accordion h3 {
	color: #218CA7;
	font-size: 18px;
	font-weight: normal;
}
.index-view-wrapper .field-autor {
	color: #000;
	font-weight: bold;
}
.index-view-wrapper .field-autor a {
	color: #218CA7;
}
.view-indice table td {
	width: 234px;
	background: #fff;
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
}
.view-indice table {
	border-collapse: separate;
	border-spacing: 10px;
	width: auto;
}
#view-accordion h3 {
	padding-left: 50px;
}
#view-accordion table {
	padding: 0;
	margin: 0;
	height: auto;
	background: #F8F8F8;
}

#block-views-portada-ultimo-nro-block-1 {
	background: #DDD;
	padding-top: 10px;
	padding-bottom: 10px;
	margin: 15px;
	border: 20px solid white;
	box-shadow: 5px 5px 5px #ddd;
}
.node-type-articulo-de-revista .ds-2col-stacked > .group-right, .node-type-n-mero-de-revista .ds-2col-stacked > .group-right {
	width: 49%;
}
.node-type-articulo-de-revista .ds-2col-stacked > .group-right section, .node-type-n-mero-de-revista .ds-2col-stacked > .group-right section {
	margin-bottom: 5px;
}
.node-type-articulo-de-revista h2.field-label, .node-type-n-mero-de-revista h2.field-label {
	margin-top: 0px;
	margin-right: 5px;
}

.node-type-articulo-de-revista .field-items a, .node-type-n-mero-de-revista .field-items a {
	color: #218CA7;
	text-decoration: none;
}

.node-type-articulo-de-revista .field-items a:hover, .node-type-n-mero-de-revista .field-items a:hover {
	text-decoration: underline;
}
.node-type-articulo-de-revista .field-name-title h2, .node-type-n-mero-de-revista .field-name-title h2 {
	color: #218CA7;
}

.node-articulo-de-revista .field-name-field-image {
	position: relative;
}

.field-slideshow-slide img{
	display:block;
}

#field-slideshow-1-carousel-wrapper {
	width: 660px;
	overflow: hidden;
	position: relative;
	margin:0 auto;
	margin-top: 20px;
	margin-bottom:20px;
}

.view-ilustraciones-detalle #field-slideshow-1-carousel .item-list ul li{
margin: 0 9px;
}


#field-slideshow-1-wrapper .field-slideshow {
border: 5px solid #FFF;
  background: #fff;
  margin-bottom: 15px;
  margin: 0 auto;
}


#field-slideshow-1-carousel-wrapper .carousel-prev {
	position: absolute;
	width: 30px;
	height: 43px;
	font-size: 0px;
	text-indent: 2000px;
	background: url(images/arrow_sm.png);
	display: block;
	top: 25px;
	z-index: 1;
}
/* ilustraciones*/
/*.view-ilustraciones .views-row{
	display:inline-block;
}*/
.view-ilustraciones .views-column{
    width: 29%;
    text-align: center;
    float: left;
    padding: 20px 2%;
}
.view-ilustraciones .views-field-title{
	font-weight: 700;
    font-size: 13px;
    margin-top: 5px;
}
.view-ilustraciones img{
	border:5px solid #fff;
    -webkit-box-shadow: 0px 0px 5px 1px rgba(102,102,102,0.2);
    -moz-box-shadow: 0px 0px 5px 1px rgba(102,102,102,0.2);
    box-shadow: 0px 0px 5px 1px rgba(102,102,102,0.2);
}
.view-ilustraciones-detalle #field-slideshow-1-carousel-wrapper .carousel-prev, .view-ilustraciones-detalle #field-slideshow-1-carousel-wrapper .carousel-next {
	top: 65px;
}
.view-ilustraciones-detalle #field-slideshow-1-carousel-wrapper #field-slideshow-1-pager {
	margin-top: 10px;
}
.view-ilustraciones-detalle .field-slideshow-pager li img{
	border: 1px solid #ccc;
}

#field-slideshow-1-carousel-wrapper .carousel-next {
	position: absolute;
	width: 30px;
	height: 43px;
	font-size: 0px;
	text-indent: 2000px;
	background: url(images/arrow_inv_sm.png);
	display: block;
	top: 25px;
	z-index: 1;
	right:0;
}
#field-slideshow-1-controls {
  position: absolute;
  top: 130px;
  left: 0px;
  z-index: 2000;
  text-indent: 1000px;
  width: 100%;
}
.view-ilustraciones-detalle {
	position: relative;
}
.view-ilustraciones-detalle #field-slideshow-1-controls {
	top: 239px;
}
.view-ilustraciones-detalle .views-field-name {
	color: #218CA7;
	font-size: 18px;
	margin-bottom: 15px;
}
.view-ilustraciones-detalle h2.block-title {
	margin-top: 20px;
	}
#field-slideshow-1-controls a {
	font-size: 0px;
	text-indent: 1000px;
}
#field-slideshow-1-controls .next, #field-slideshow-1-controls .prev {
	height: 42px;
	width: 42px;
	display: block;
}
#field-slideshow-1-controls .prev {
	background: url(images/arrow_inv.png) center center;
}
#field-slideshow-1-controls .next {
background: url(images/arrow.png) center center;
  /* margin-left: 640px; */
  margin-top: -42px;
  position: absolute;
  right: 0;
}
.page-busqueda-avanzada figure, .page-taxonomy figure {
	float: left;
	margin-right: 10px;
}
.node-teaser{
	padding: 20px 0;
  margin: 0;
}
.node-teaser, .page-busqueda-avanzada .views-row {
	border-bottom: 1px solid #ccc;
}
.page-busqueda-avanzada .node-teaser {
	border: none;
}
.form-submit {
	border: 1px solid #ccc;
	color: #666;
	height:20px;
	background:d1d1d1;
}
.view-contenido-publicado .group-left {
	width: 150px;
}
.view-contenido-publicado .group-right {
	width: 540px;
}
.view-contenido-publicado a {
	color: #218CA7;
}

.view-contenido-publicado .view-more a{
  height: 22px;
  background: #218ca7;
  color: #FFF;
  display: inline-block;
  width: 60px;
  padding: 0 10PX;
  line-height: 22px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  text-align: center;
  font-weight: 500;
  margin-top: 15px;
}
.view-contenido-publicado .views-field-title a {
	text-transform: uppercase;
	font-size: 16px;
}
.view-contenido-publicado .views-field-title h2{
	margin-top:0;
	line-height:22px;
}
.view-contenido-publicado .views-row {
	border-bottom: 1px solid #ccc;
	padding: 20px 0;
}
.view-contenido-publicado .views-field-field-image {
	float: left;
	width:30%;
}
.view-contenido-publicado .views-field-field-image img{
	border: 5px solid #fff;
  -webkit-box-shadow: 0px 0px 5px 1px rgba(102,102,102,0.2);
  -moz-box-shadow: 0px 0px 5px 1px rgba(102,102,102,0.2);
  box-shadow: 0px 0px 5px 1px rgba(102,102,102,0.2);
}
.view-contenido-publicado .clear {
	clear: both;
}
.view-contenido-publicado figure {
	margin-top: 10px;
}

.contact-form .form-text,
.webform-client-form input[type="text"],
.webform-client-form input[type="email"]{
	border: none;
	background: #ccc;
	color: #333;
	border-radius: 2px;
	height: 25px;
	line-height: 25px;
	padding-left: 10px;
	border: 1px solid #BDBDBD;
}
.webform-client-form textarea{
	border: none;
	background: #ccc;
	color: #333;
	border-radius: 2px;
	padding-left: 10px;
	border: 1px solid #BDBDBD;
}

#block-search-form {
background: #ddd;
  padding: 10px;
  margin-right: 10px;
  position: relative;
}
#block-search-form form{
	position:relative;
}
#block-search-form .form-type-textfield input{
	width:110px;
}
#block-search-form .form-actions {
	position:absolute;
	margin:0;
	top:0;
	right:0;
}

/*---- block avanzada ----*/
.BlockAvanzada .block-inner {
	margin:0;
}

.node-articulo-de-revista .field-name-body{
	margin-top:20px;
}
.node-articulo-de-revista .field {
	margin-bottom: 3px;
}
.group-right .field-name-view-more a{
  height: 22px;
  background: #218ca7;
  color: #FFF;
  display: block;
  width: 60px;
  padding: 0 10PX;
  line-height: 22px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  text-align: center;
  font-weight: 500;
}
.node-articulo-de-revista .field-name-field-portada {
	margin-right: 10px;
	margin-bottom:10px;
	display:inline-block;
}
.node-articulo-de-revista .field-name-field-portada img{
	  border: 5px solid #fff;
  -webkit-box-shadow: 0px 0px 5px 1px rgba(102,102,102,0.2);
  -moz-box-shadow: 0px 0px 5px 1px rgba(102,102,102,0.2);
  box-shadow: 0px 0px 5px 1px rgba(102,102,102,0.2);
}

.node-articulo-de-revista .field-name-field-tipo, .node-articulo-de-revista .field-name-field-tema, .node-articulo-de-revista .field-name-field-autor, .node-articulo-de-revista .field-name-field-web, .node-articulo-de-revista .field-name-field-libro-rese-ado, .node-articulo-de-revista .field-name-field-datos-libro {
	max-width: 490px;
}
.node-articulo-de-revista .field-slideshow-caption a {
	color: #fff;
	text-decoration: none;
}
.node-articulo-de-revista .field-slideshow-caption {
  background: url(images/bg.png);
  position: absolute;
  bottom: 0px;
  /* width: 644px; */
  padding: 10px;
  min-height: 28px;
  color:#fff;
}
.field-slideshow {
	/*border: 4px solid #999;*/
	background: #999;
	padding-bottom: 0px;
	margin-bottom: 10px;
	-webkit-box-shadow: 0px 0px 5px 1px rgba(102,102,102,0.2);
  -moz-box-shadow: 0px 0px 5px 1px rgba(102,102,102,0.2);
  box-shadow: 0px 0px 5px 1px rgba(102,102,102,0.2);
}
.cropimg {
	width: 700px;
	height: 400px;
	overflow: hidden;
}

.cropimg img {
	width: 1200px;
	margin: -15px 0 0 0px;
}

/* estilos al editor */
.blue12 {
	color: #218CA7;
	font-size: 12px;
}
.blue14 {
	color: #218CA7;
	font-size: 14px;
}
.blue16 {
	color: #218CA7;
	font-size: 16px;
}
.red12 {
	color: #EF6E99;
	font-size: 12px;
}
.red14 {
	color: #EF6E99;
	font-size: 14px;
}
.red16 {
	color: #EF6E99;
	font-size: 16px;
}
.normal {
	color: #444;
	font-size: 12px;
}

/* indice lateral */
#block-views-indice-lateral-block-1 h3.ui-accordion-header, #block-views-indice-lateral-block-2 h3.ui-accordion-header, #block-views-indice-lateral-block-3 h3.ui-accordion-header, .view-indice .ui-accordion h3.ui-accordion-header, #block-views-indice-resenas-block .ui-accordion h3.ui-accordion-header, #block-views-indice-lateral-block .ui-accordion h3.ui-accordion-header {
	border: 1px solid #ccc !important;
	height: 25px !important;
	line-height: 25px !important;
	background: transparent !important;
	border-radius: 0px !important;
	padding: 0;
  margin-top: 0;
  padding-left: 25px;
}
.view-indice .ui-accordion-icons .ui-accordion-header a, #block-views-indice-lateral-block-1 .ui-accordion-icons .ui-accordion-header a, #block-views-indice-lateral-block-2 .ui-accordion-icons .ui-accordion-header a, #block-views-indice-lateral-block-3 .ui-accordion-icons .ui-accordion-header a, #block-views-indice-resenas-block .ui-accordion-icons .ui-accordion-header a, #block-views-indice-lateral-block .ui-accordion-icons .ui-accordion-header a {
	padding: 0 !important;
	padding-left: 30px !important;
	color: #218CA7 !important;
}
#block-views-indice-resenas-block .ui-accordion-icons .ui-accordion-header a {
	font-size: 10px !important;
}
.view-indice .ui-accordion-content, #block-views-indice-lateral-block-1 .ui-accordion-content, #block-views-indice-lateral-block-2 .ui-accordion-content, #block-views-indice-lateral-block-3 .ui-accordion-content, #block-views-indice-resenas-block .ui-accordion-content, #block-views-indice-lateral-block .ui-accordion-content {
	height: auto !important;
}
#block-views-indice-lateral-block-1 .views-row, 
#block-views-indice-lateral-block-2 .views-row, 
#block-views-indice-lateral-block-3 .views-row, 
#block-views-indice-resenas-block .views-row, 
#block-views-indice-lateral-block .views-row {
	border-bottom: 1px dotted #999 !important;
	padding:3px 0 !important;
	line-height:12px !important;
}
#block-views-indice-lateral-block-1 .views-row.views-row-last, 
#block-views-indice-lateral-block-2 .views-row.views-row-last, 
#block-views-indice-lateral-block-3 .views-row.views-row-last, 
#block-views-indice-resenas-block .views-row.views-row-last, 
#block-views-indice-lateral-block .views-row.views-row-last {
	border-bottom: 0 !important;
}


.view-indice .views-field-nothing, #block-views-indice-resenas-block .views-field-nothing, #block-views-indice-lateral-block .views-field-nothing {
	padding-left: 3px ;
}
.field-content .type {
	color: #F23D6C;
	font-size: 11px;
	font-weight: bold;
	margin-right: 3px;
}
.field-content .title {
	font-size: 12px;
	font-weight: bold;
}
.field-content .title a {
	text-transform: none;
}
#views_slideshow_controls_text_pause_galeria_detalle-block {
	display: none;
}
#block-views-galeria-detalle-block {
	position: relative;
}
#views_slideshow_controls_text_next_galeria_detalle-block {
	position: absolute;
	top: 130px;
	left: 651px;
	z-index: 50;
}
#views_slideshow_controls_text_previous_galeria_detalle-block {
	position: absolute;
	top: 130px;
	left: -7px;
	z-index: 50;
}
#views_slideshow_controls_text_previous_galeria_detalle-block a {
	display: block;
	width: 55px;
	height: 100px;
	background: url(images/prev.png);
	text-indent: -1000px;
	font-size: 0px;
}
#views_slideshow_controls_text_next_galeria_detalle-block a {
	display: block;
	width: 55px;
	height: 100px;
	background: url(images/next.png);
	text-indent: -1000px;
	font-size: 0px;
}
.ui-widget-content {
	background: none;
}
.field-name-field-archivos-adjuntos h2 {
	margin-top: 0;
}
.field-name-field-archivos-adjuntos .file-icon {
	vertical-align: middle;
}
#breadcrumb {
	display: none;
}

#footer {
	position: fixed;
	bottom: -180px;
	background: #292929;
	color: #DDD;
	font-size: 11px;
	font-family: open_sansregular;
	padding: 15px 0;
	left: 0;
	z-index: 400;
	width: 100%;
}
#footer .link {
  display: none;
}
/*----- bloques info footer ----*/
.infoFooter{
	font-family: 'Lucida Grande', 'Lucida Sans Unicode', sans-serif; 
	font-size: 12px; 
	line-height: 18px;
}
.columnaUno{
	float:left;
	width:21%;
}
.columnaDos{
	float:left;
	width:29%;
	margin:0 2%;
}
.columnaTres{
	float:left;
	width:46%;
}
#footer .region-footer {
	width: 940px;
	margin: 0 auto;
}
.menuFooter{
	height:30px;
}

#footer td, th {
	border-bottom: 0;
	margin: 0;
	padding: 5px 15px;
}

#footer a {
	color: #EF6E99;
	text-decoration: none;
}
#footer a:hover {
	text-decoration: underline;
}
#block-block-6 #close-open {
	margin-right: 30px;
	margin-top: -5px;
	cursor: pointer;
}
#block-block-6 table.fixed {
	border: none;
	table-layout: fixed;
	width: 910px;
	margin: 0 auto
}
#block-block-6 table.fixed tbody, #block-block-6 table.fixed tbody tr, #block-block-6 table.fixed tr {
	border: none;
}
#block-block-6 table.fixed td {
	vertical-align: top;
}
#block-views-indice-resenas-block, #block-views-indice-lateral-block {
	background: #ddd;
}
#block-views-indice-resenas-block h2.block-title {
	color: #218CA7;
	font-size: 16px;
	font-weight: normal;
	margin-top: 0px;
	margin-left: 30px;
}
#block-views-indice-lateral-block {
	margin-bottom: 0;
	margin-right:10px;
}
.node-type-n-mero-de-revista .group-left {
	width: 265px;
}
.node-type-n-mero-de-revista .group-right {
	width: 430px;
}

.node-type-n-mero-de-revista .field {
	min-width: 300px;
}
.node-type-n-mero-de-revista .field-name-field-portada {
	margin-right: 25px;
	margin-bottom: 25px;
	width: 250px;
	min-width: 250px;
}

#block-views-indice-resenas-block {
	margin-bottom: 0px;
	padding-bottom: 5px;
	margin-right:10px;
	margin-bottom:-1px;
}
#block-views-indice-lateral-block-1, #block-views-indice-lateral-block-2, #block-views-indice-lateral-block-3 {
	margin-bottom: -1px;
	background: #ddd;
}

#block-views-indice-lateral-block-2 {
	padding-bottom: 3px;
	margin-right:10px;
}
#block-views-indice-lateral-block-1 {
	padding-top: 10px;
}
#block-views-indice-lateral-block-3 {
	padding-bottom: 20px;
	margin-right:10px;
}
.node-type-n-mero-de-revista .field-name-body{
	margin-top: 20px
}


/*-------------BLOCK INDICE -----------------*/
#block-views-indice-block-1{
	display:none;
}
.blockIndice .views-column{
width: 40%;
  float: left;
  padding: 17px 2%;
  background: #fff;
  border: 1px solid #DFDFDF;
  margin: 5px 0;
}
.blockIndice .views-row{
	min-height:202px;
}
.blockIndice .views-field-nothing-1{
	width:30%;
	float:left;
}
.blockIndice .views-field-nothing{
	float:left;
	width:60%;
}
	
	

.ui-widget-content{
	border: 1px solid #ccc !important;
}
.ui-accordion .ui-accordion-content {
  padding: 1em 1.5em !important;
}


/*------------- FANCYBOX -----------------*/
.fancybox-title-float-wrap{
	  position: RELATIVE;
  bottom: 0;
  right: 0;
  margin-bottom: 0;
  z-index: 8050;
  text-align: LEFT;
}

.fancybox-title-float-wrap .child {
  display: inline-block;
  margin-right: auto;
  padding: 8px 0 0 0;
  background: transparent;
  background: rgba(0, 0, 0, 0);
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 15px;
  color: #717171;
  font-weight: 100;
  line-height: 18px;
  white-space: normal;
  font-size: 12px;
  text-shadow: 0 0 0 #ACACAC;
}
.ajax-progress .throbber{
}
.ajax-progress .throbber {
  background: transparent url(../images/throbber.gif) no-repeat 0px -20px !important;
  float: left;
  height: 15px;
  margin: 2px;
  width: 15px;
}