@import url(http://fonts.googleapis.com/css?family=Expletus+Sans:400,400italic,500,500italic,600,600italic,700,700italic);
@import url(http://fonts.googleapis.com/css?family=Overlock:400,700,900,400italic,700italic,900italic);
@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300italic,300,400italic,500,500italic,700,700italic,900,900italic);
:root * { filter: progid:DXImageTransform.Microsoft.gradient(enabled='false') !important; } 
 
body{
	font-family:font-family: 'Overlock', cursive;;
}
.search-info { 
 display: none; 
 }
#header-wrapper{
	/*background: url(images/header-bg.png) repeat-x;*/
	background: rgba(87, 31, 31, 0.8);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#CC571F1F,endColorstr=#CC571F1F);
	height: 100px;
}
#content-wrapper{
	line-height:1.4em;
}
#branding {
	width:300px;
}
#logo img {
	vertical-align: bottom;
	margin-top: 10px;
}

.container {
width: 100% !important;
max-width: 1000px !important;
}

.item-list .pager{
	padding-top:10px;
}
/*  ENCABEZADO   */
.region-header{
	position:absolute;
	width:100%;
	right:0;
	top:0;
}


#leaderboard-wrapper .container{
	position:relative;
}
#leaderboard-wrapper {
	position: absolute;
	width:100%;
	font-family: 'Roboto', sans-serif;
	font-size: 11px;
	letter-spacing: 0.05em;


}
#header{
	position:relative;
}
#header #block-search-form{
	position: absolute;
	right: 75px;
	top: 53px;
}

#header #block-search-form input[type="search"] {
	border: 0 none;
	font-size: 11px;
	height: 20px;
	padding: 0 20px 0 5px;
	width: 140px;
	background: rgba(175, 147, 147, 0.7);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#B2AF9393,endColorstr=#B2AF9393);
	color: #FFF;
}
#header #block-search-form input[type="submit"] {
	position: absolute;
	background: url("/proyectos.banrepcultural.org/sites/default/files/icon_submit.png") no-repeat;
	height: 14px;
	right: 13px;
	top: 5px;
	width: 10px;
	text-indent: -9999px;
	border: 0px;
}

#header #block-views-logos-block{
	height: 80px;
	width: 320px;
	float: left;
	padding: 10px 0;
	margin: 0;
}	
#header #block-views-destacado-header-block{
	float: left;
	margin: 15px 0px 0 30px;
}
#header #block-block-16{
	position:relative;
	margin:5px 0 0 0;
	float:right;
}

#header #block-block-16 .contenido{
	float:right;
	margin-top: 12px;
}
#header #block-block-16 a{
	text-decoration:none;
	color:#AC8141;
}
#header #block-block-16 a:hover{
	color:#DBA555;
}
.minlogo{
	float: left;
	margin-top: 6px;
}
.horario{
	float: left;
	width: 300px;
	padding: 0 20px;
	margin: 7px 0 0 0;
	border-left: 1px solid rgb(138,102,102);
	border-right: 1px solid rgb(138,102,102);
	line-height: 13px;
	color: #FFF;
	font-family: 'Roboto',sans-serif;
	font-size: 11px;
	letter-spacing: 0.05em;
}
.social-links {
	float:left;
	margin-right: 20px;
	height: 30px;
	margin-top: 7px;
	margin-bottom: 25px;
}
.social-links ul {
	overflow: hidden;
	margin: 0px 0px 22px 30px;
	padding: 0px;
	width: 160px;
	list-style: none;
}
.social-links li {
	float: right;
	margin: 0 0 0 6px;
}
.social-links a {
	display: block;
	width: 22px;
	height: 22px;
	background-position: left top;
	background-repeat: no-repeat;
	text-indent: -10000em;
	text-decoration: none;
}
.social-links a.botom {
	display: block;
	width: 116px;
	height: 20px;
	background: rgba(175, 147, 147, 0.7);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#B2AF9393,endColorstr=#B2AF9393);
	font-weight: 700;
	text-indent: inherit;
	color: #FFF !important;
	text-align: center;
	line-height: 20px;
}
.social-links a.botom:hover {
	background: rgba(219, 165, 85, 1);
}
.social-links li.twitter a {
	background: url(/proyectos.banrepcultural.org/sites/default/files/links.png) -22px 0px no-repeat;
}
.social-links li.twitter a:hover {
	background: url(/proyectos.banrepcultural.org/sites/default/files/links.png) -22px -23px no-repeat;
}
.social-links li.facebook a {
	background: url(/proyectos.banrepcultural.org/sites/default/files/links.png) 0px 0px no-repeat;
}
.social-links li.facebook a:hover {
	background: url(/proyectos.banrepcultural.org/sites/default/files/links.png) 0px -23px no-repeat;
}
.social-links li.google a {
	background: url(/proyectos.banrepcultural.org/sites/default/files/links.png) -43px 0px no-repeat;
}
.social-links li.google a:hover {
	background: url(/proyectos.banrepcultural.org/sites/default/files/links.png) -43px -23px no-repeat;
}



#menu-bar{
	margin: 0;
}
#nav-wrapper{
	/*background: url(images/nav-bg.png) repeat-x;*/
	height: 33px;
	background: rgba(37, 22, 22, 0.85);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#D8251616,endColorstr=#D8251616);
}

/*-------------- menu -----------------*/
#block-nice-menus-1{
	font-family: 'Roboto', sans-serif;
	font-size: 13px;
	letter-spacing: 1px;
	font-weight: 300;
}
ul.nice-menu ul {
	border:0;
}
.nav li a, .nav ul.menu li a{
	padding-left:15px;
	padding-right:15px;
}
ul.nice-menu li{
	border: none;
	background: transparent;
	border-right: 1px solid rgb(101,91,91);
	height: 33px;
	display: inline-block;
	
}

ul.nice-menu-down .menuparent a {
		padding-right: 15px;
		display:block;
		height:33px;
	}
ul.nice-menu li:first-child{
	border-left:1px solid rgb(101,91,91);
}
ul.nice-menu a{
	text-decoration: none;
	color: #fff;
	display: block;
	height: 33px;
	line-height: 33px;
}
ul.nice-menu a:hover, ul.nice-menu .menuparent.over a{
	color: #C5A77D ;
}
ul.nice-menu li:hover{
	background: rgba(37,22,22,0.5);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#7F251616,endColorstr=#7F251616);
}
ul.nice-menu-down li.menuparent {
	background: transparent;
}
ul.nice-menu-down li.menuparent:hover {
	background: rgba(37,22,22,0.5);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#7F251616,endColorstr=#7F251616);
}
/* segunda lista */
ul.nice-menu li.menuparent ul{
	margin-top:10px;
	background: rgba(87, 31, 31, 0.8);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#CC571F1F,endColorstr=#CC571F1F);
}
ul.nice-menu li.menuparent ul li{
	border-top:1px solid rgb(141,105,105);
	border-right:none;
	border-left:none;
	text-transform: capitalize;
	width: 100%;
}
ul.nice-menu li.menuparent ul li a{
	color: #C5A77D !important;
}
ul.nice-menu li.menuparent ul li a:hover{
	color: #C5A77D !important;
}
ul.nice-menu li.menuparent ul li:hover{
	background: rgba(87, 31, 31, 0.8);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#CC571F1F,endColorstr=#CC571F1F);
}	
ul.nice-menu-down li li.menuparent {
	background: rgba(87, 31, 31, 0.8);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#CC571F1F,endColorstr=#CC571F1F);
}
/* tercera lista */
ul.nice-menu li.menuparent ul li ul{
	margin-top:0px;
}
ul.nice-menu li.menuparent ul li ul li{
	width:auto;
	background: rgba(51, 82, 102, 0.8);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#CC335266,endColorstr=#CC335266);
	border-top: 1px solid rgb(141,105,105);
	border-right:none;
	border-left:none;
}
ul.nice-menu li.menuparent ul li ul li:hover{
	background: rgba(51, 82, 102, 0.9);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#E5335266,endColorstr=#E5335266);
}

/* estilos home */
.content-inner {
    margin-right: 0px;
    margin-left:0 !important;
}
.front #main-content .views-field-body{
	width: 430px;
	float: left;
	margin-right: 20px;
	margin-bottom: 20px;
	font-size:15px;
}
.view-inicio .views-row {
	position: relative;
}
.front .views-field-field-video{
	padding-top: 43px;
	position: absolute;
	right: 0;
	width: 430px;
}
.front .views-field-field-video .player{
	/*position:fixed;*/
}

.front .views-field-field-video iframe{
	width: 400px;
}
.front .views-field-nothing-1{
	clear: both;
}

h2, #page-title{
	color: #AC8141;
	text-transform: uppercase;
	font-size: 24px;
	line-height:24px;
	font-family: 'bodoniflfbold';
	/*font-family: 'Expletus Sans', cursive;*/
	padding:22px 0 5px 0;
	margin:0 0 22px 0;
	border-bottom: 1px solid rgb(88,88,88);
}

h3{
	color: #fff;
	text-transform: uppercase;
	font-size: 15px;
	line-height: 15px;
	font-family: 'Expletus Sans', cursive;
	padding: 15px 0;
	margin: 0;
	font-weight: 600;
	letter-spacing: 0.05em;
	text-align:center;
}

.fortuna{
	color: #AC8141;
}

#footer-wrapper{
	/*background: url(images/header-bg.png);*/
	height:auto:
	position: relative;
	width:100%;
	background: rgba(87, 31, 31, 0.8);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#CC571F1F,endColorstr=#CC571F1F);
	z-index:9999;
}
footer .block{
	float: left;
}
footer .block, footer h2, footer a{
	color: #fff;
}
#block-block-6{
	width: auto;
	margin-left:30px;
}
#block-block-8{
	width: auto;
}
#block-block-12{
	width: 68px;
	margin:10px 0 0 0;
}
#footer p{
	margin: 0;
}

#footer-wrapper2{
	position:relative;
	width:100%;
	height:250px;
	background: rgba(37, 22, 22, 0.85);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#D8251616,endColorstr=#D8251616);
	z-index:9999;
}
#footer-wrapper2 a{
	color:#AC8141;
	font-size:11px;
}
#footer-wrapper2 a:hover{
	color:#DBA555;
}

#footer-wrapper2 .block-inner{
	padding-top:10px;
}

#footer2 p.footer_links{
	color: #AC8141 !important;
	margin-left: 30px;
}
#footer2 p.footer_links a{
	font-size:12px;
	
}

#content {
}
#block-system-main {
height: 100%;
}


/*-------- vista exposición ---------------*/
.view-vista-temas .view-header,
.view-exposicion .view-header, 
.view-la-sala-en-exceso .view-header,
.view-la-sombra-de-una-sombra .view-header,
.view-tiempo-vertical .view-header,
.view-una-mirada-hacia-atr-s .view-header,
.view-expo .view-header{
	float: left;
	width: 48%;
	margin-right:4%;
}
.view-una-mirada-hacia-atr-s .view-header .view-content,
.view-expo .view-header .view-content{
	width:100%;
}
.view-una-mirada-hacia-atr-s .view-header .view-content .views-field,
.view-expo .view-header .view-content .views-field{
		text-align:left !important;
}


.view-vista-temas .view-content,
.view-exposicion .view-content, 
.view-la-sala-en-exceso .view-content,
.view-la-sombra-de-una-sombra .view-content,
.view-tiempo-vertical .view-content,
.view-una-mirada-hacia-atr-s .view-content,
.view-expo .view-content{
	float: left;
	width: 48%;
	margin:0 auto;
}
.view-vista-temas table,
.view-exposicion table, 
.view-la-sala-en-exceso table,
.view-la-sombra-de-una-sombra table,
.view-tiempo-vertical table,
.view-una-mirada-hacia-atr-s table,
.view-expo table{
	border:none;
	float:right;
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
	letter-spacing: 0.05em;
	font-size: 11px;
	line-height: 1.5;
	margin:0;
	right:0;
	margin-top:46px;
}
.view-expo table{
	margin-top:0px !important;
}
.view-vista-temas .views-field,
.view-exposicion .views-field, 
.view-la-sala-en-exceso .views-field,
.view-la-sombra-de-una-sombra .views-field,
.view-tiempo-vertical .views-field,
.view-una-mirada-hacia-atr-s .views-field,
.view-expo .views-field{
	text-align:center;
}
.view-vista-temas img,
.view-exposicion img, 
.view-la-sala-en-exceso img,
.view-la-sombra-de-una-sombra img,
.view-tiempo-vertical img,
.view-una-mirada-hacia-atr-s img,
.view-expo img{
border: 3px solid rgb(61, 62, 62);
}
.view-vista-temas table tbody tr,
.view-exposicion table tbody tr, 
.view-la-sala-en-exceso table tbody tr,
.view-la-sombra-de-una-sombra table tbody tr,
.view-tiempo-vertical table tbody tr,
.view-una-mirada-hacia-atr-s table tbody tr,
.view-expo table tbody tr{
	border:0px;
}
.view-vista-temas table tbody td,
.view-exposicion table tbody td, 
.view-la-sala-en-exceso table tbody td,
.view-la-sombra-de-una-sombra table tbody td,
.view-tiempo-vertical table tbody td,
.view-una-mirada-hacia-atr-s table tbody td,
.view-expo table tbody td{
	width:50%;
}
.view-vista-temas h3,
.view-exposicion h3, 
.view-la-sala-en-exceso h3,
.view-la-sombra-de-una-sombra h3,
.view-tiempo-vertical h3,
.view-una-mirada-hacia-atr-s h3,
.view-expo h3{
	text-align:left;
}



#block-block-14{
	font-family: 'Roboto', sans-serif;
}

.page-node-980 #page-title,
.page-node-978 #page-title{
	display: none;
}
.page-node-980 #main-content{
	height:650px;
}	
.page-node-978 #main-content{
	padding: 0;
	height: 470px;
	padding-top: 20px;
}
.page-node-980 #footer-wrapper2,
.page-node-980 #footer-wrapper{
	display: none;
}
.page-node-980 .container{
	max-width: 100% !important;
}

/*---- resultados búsqueda ----------*/
.search-results .title{
	font-size:1em;
	line-height:1em;
}

.logoApoyan {
	float: right;
}