/* altura del sitio no home */
#main-content{
	min-height: 415px;
	display: inline-block;
	margin-top: 35px;
	margin-bottom: 35px;
	background: rgba(7, 7, 7, 0.8);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#CC070707,endColorstr=#CC070707);
	padding:25px 30px;
	color: #fff;
	position:relative;
	width:920px;
}
#main-content::-webkit-scrollbar {
    width: 8px;
}
#main-content::-moz-scrollbar {
    width: 8px;
}
#main-content::-webkit-scrollbar-thumb{
	background:#B48E57;
}
#main-content::-webkit-scrollbar-thumb:hover{
	background-color:#958262;
}
#main-content::-webkit-scrollbar-thumb:active{
	background-color:#958262;
}
a{
	color: #AC8141;
	text-decoration: none;
}

.page-programacion #block-system-main{
	width: 200px;
	float: left;
	margin-right: 35px;
	/* margin-left: 20px; */
}
#block-views-programacion-block-1{
	width: 685px;
	float: left;
	font-size: 11px;
	color: #fff;
}

/* calendario */

.calendar-calendar .month-view table{
	font-family: 'Roboto', sans-serif;
}

.calendar-calendar .mini-day-off{
	text-align:center;
}
.calendar-calendar .mini-day-on{
	text-align:center;
	color:#C5A77D;
}
.calendar-calendar tr td.today, .calendar-calendar tr.odd td.today, .calendar-calendar tr.even td.today,
.page-programacion tr.info, tr.even, tr:nth-child(2n+2),
.calendar-calendar table.mini td.empty,
.calendar-calendar tr,
.calendar-calendar th.days{
	background-color: transparent !important;
}
.calendar-calendar th.days,
.page-programacion tbody tr{
	border: none;
}
.calendar-calendar th.days{
	color: #fff;
	font-size: 14px;
}
.calendar-calendar table a{
	color: #fff;
	text-decoration: none;
	font-size: 14px;
}
#block-views-programacion-block-1 table{
	border: none;
	table-layout: fixed;
	border-collapse: separate;
	border-spacing: 5px;
	font-family: 'Roboto', sans-serif;
	letter-spacing: 0.05em;
	font-size:10px;
	line-height:1.5;
}
.page-programacion table, .page-programacion thead, .page-programacion tbody, .page-programacion tr, .page-programacion th, .page-programacion td{
	border: none;
}
#block-views-programacion-block-1 td{
	/*border: 1px solid #404958;*/
	background: rgba(0, 0, 0, 0.5);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#7F000000,endColorstr=#7F000000);
}
.page-programacion table, .page-programacion td, .page-programacion th{
	vertical-align: top;
}
.calendar-calendar table a{
	font-weight: bold;
}
.page-programacion .views-field-title,
.page-programacion .views-field-title a{
	color: #FFF;
	text-transform: uppercase;
	font-weight: bold;
}

.page-programacion .view .date-nav-wrapper .date-prev{
	right: 180px;
	background: transparent;
}
.page-programacion .view .date-nav-wrapper .date-next{
	background: transparent;	
}
.page-programacion .view .date-nav-wrapper .date-prev a,
.page-programacion .view .date-nav-wrapper .date-next a{
	display: block;
	height: 15px;
	width: 9px;
	font-size: 0px;
}
.page-programacion .view .date-nav-wrapper .date-next a{
	background: url(../images/right.png);
	margin-top: -11px;
}
.page-programacion .view .date-nav-wrapper .date-prev a{
	background: url(../images/left.png);
	margin-top: 3px;
}
.page-programacion .view-display-id-page{
	margin-top: 30px;
	padding-bottom: 20px;
	border-bottom:1px solid rgb(88,88,88);
}

.date-heading h3 a{
	color: #fff;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 20px;
	letter-spacing: 0.05em;
}
.node-type-programaci-n{
	font-size: 11px;
}
.page-programacion .view .date-nav-wrapper .date-nav{
	border-bottom: 1px solid rgb(88,88,88);
}
.node-type-programaci-n .group-left{
	width: 250px;
	margin-left: 20px;
}
.node-type-programaci-n .group-right{
	width: 610px;
}
.node-type-programaci-n .group-footer{
	padding-top: 10px;
	margin-left: 20px;
}
.node-type-programaci-n h2.field-label{
	padding: 0;
	width: 100px;
	border: none;
}
.node-type-programaci-n section{
	margin-bottom: 0;
}
.page-prensa h2{
	font-size: 16px;
	border: none;
	padding: 0;
	margin: 0;
	margin-bottom: 10px;
}
.page-prensa h1#page-title{
	margin-bottom: 20px;
}
.page-prensa .views-row{
	border-bottom: 1px dotted rgb(88,88,88);
	margin-bottom: 20px;
}
.page-prensa .field-name-body{
}
.page-prensa .node{
	margin-bottom: 0;
}
.page-prensa .pager2,
.pager2{
	position: absolute;
	top: 35px;
	right:30px;
	font-size: 12px;
}
.page-prensa .pager,
.pager2 a{
	font-size: 12px;
}
.node-type-obra-coleccion{
	font-size: 12px;
}
.node-type-obra-coleccion .group-left{
	width: 47%;
	padding: 0 10px 10px 10px;
}
.node-type-obra-coleccion h2.field-label{
	padding: 0;
	margin: 0;
	border: none;
	width: 180px;
	font-size: 15px;
}
.node-type-obra-coleccion section{
	margin-bottom: 5px;
}
.item-list ul li{
	margin: 0;
	width: 140px;
}
#field-slideshow-1-carousel{
	margin-left: 15px;
}
#field-slideshow-1-carousel-wrapper{
	position: relative;
}
.carousel-prev{
	position: absolute;
	top: 58px;
	left: -12px;
	z-index: 5;
	display: block;
	width: 20px;
	height: 20px;
	background: #42525C;
	border-radius: 10px;
	text-align: center;
	line-height: 19px;
	color: #fff;
}
.carousel-next{
	position: absolute;
	top: 58px;
	left: 830px;
	z-index: 5;
	display: block;
	width: 20px;
	height: 20px;
	background: #42525C;
	border-radius: 10px;
	text-align: center;
	line-height: 19px;
	color: #fff;
}

/* Vista videos */ 

.view-vista-videos .view-content{
	width: 640px;
	float: left;
}
.view-vista-videos .view-footer{
	float: left;
	width: 260px;
	margin-left: 10px;
}
.view-vista-videos .view-title{
	color: #C5A77D;
	font-size: 28px;
	padding-bottom: 20px;
	border-bottom: 1px solid #C5A77D;
}
.view-vista-videos .view-subtitle{
	color: #fff;
	font-size: 16px;
	font-style: italic;
	margin-top: 10px;
	margin-bottom: 20px;
}
.view-display-id-block_1 .views-row{
	padding: 10px;
	border: 1px solid #fff;
	width: 250px;
}
.view-display-id-block_1 .count{
	font-size: 24px;
	color: #fff;
	font-style: italic;
	padding-right: 10px;
	border-right: 1px solid #fff;
	margin-right: 10px;
	line-height: 42px;

}
.view-display-id-block_1 a{
	color: #fff;
	font-style: italic;
}
/*.view-display-id-block_1 .
.view-vista-videos .*/

.logoApoyan {
	float: right;
}