/*
 * responsive.custom.css is for custom media queries that are not set via the
 * theme settings, such as cascading media queries.
 *
 * By default all the other responsive stylesheets used in Adaptivetheme use a
 * "stacking method", however cascading media queries use a waterfall method so
 * you can leverage the cascade and inheritance for all browsers that support
 * media queries, regardless of screen size.
 *
 * @SEE http://zomigi.com/blog/essential-considerations-for-crafting-quality-media-queries/#mq-overlap-stack
 *
 * NOTE: this file loads by default, to disable got to your theme settings and
 * look under the "CSS" settings tab.
 */
/*
 * Really small screens and up
 */
/* @media only screen and (min-width: 220px) {} */
/*
 * Smartphone sizes and up
 */
/* @media only screen and (min-width: 320px) {} */
/*
 * Smartphone sizes and down
 */
@media only screen and (max-width: 480px) {
  /* 
   * Float Region blocks example:
   * In smaller screen sizes we can remove the float and widths so all blocks
   * stack instead of displaying horizonally. The selector used here is an
   * "attribute selector" which will match on any float block class. Use your
   * inspector or Firebug to get the classes from the page output if you need
   * more granular control over block alignment and stacking.
   * 
   * "Float Region blocks" is an extension for floating blocks in regions, see
   * your themes appearance settings, under the Extensions tab.
   */
  .region[class*="float-blocks"] .block {
    float: none;
    width: 100%;
  }
}
/*
 * Tablet sizes and up
 */
/* @media only screen and (min-width: 768px) {} */
/*
 * Desktops/laptops and up
 */
/* @media only screen and (min-width: 1025px) {} */

@media only screen and (max-width: 480px) {
  /* 
   * Float Region blocks example:
   * In smaller screen sizes we can remove the float and widths so all blocks
   * stack instead of displaying horizonally. The selector used here is an
   * "attribute selector" which will match on any float block class. Use your
   * inspector or Firebug to get the classes from the page output if you need
   * more granular control over block alignment and stacking.
   * 
   * "Float Region blocks" is an extension for floating blocks in regions, see
   * your themes appearance settings, under the Extensions tab.
   */
  .region[class*="float-blocks"] .block {
    float: none;
    width: 100%;
  }
}
/*
 * Tablet sizes and up
 */
/* @media only screen and (min-width: 768px) {} */
/*
 * Desktops/laptops and up
 */
/* @media only screen and (min-width: 1025px) {} */



/*--------------------------*/
/*-------- GENERAL ---------*/
/*------------------------*/
body{
  background:#333333;
}
.backstretch{
  display:none;
}
.block-inner{
  margin-left:0;
  margin-right:0;
}
#nav-wrapper{
  height:auto !important;
}
#main-content{
  width:90%;
  padding:20px 5% !important;
  background:rgba(51,51,51,1) !important;
  margin:0;
}
.front #header-wrapper{
  height:282px !important;
}
.not-front #header-wrapper{
  height:122px !important;
}
/*footer*/
#footer-wrapper {
  -webkit-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.3);
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.2);
    z-index: 9;
}
.footerHorarios{
  font-size:11px;
  line-height:15px;
}
/*--------------------------*/
/*-------- HEADER ---------*/
/*------------------------*/
#header #block-search-form{
  display:none;
}
.blockRedesLogo{
  position:absolute !important;
  z-index:999999;
  width:50%;
  right:0;
}
.blockRedesLogo .contenido{
  margin-top:0 !important;
  float: none !important;
}
.minlogo{
  margin-top:3px;
  float:left;
  margin-left:-23px;
}
.minlogo img{
  width:35px;
}
.social-links {
  float: right;
  height: 40px;
  margin:0 0 0 0;
}
.social-links ul{
  width:auto;
  margin:10px 12px 0 0;
}
/*-------- DESTACADO HEADER -----*/
.not-front #block-views-destacado-header-block{
  display:none;
}
#block-views-destacado-header-block{
  margin: 122px 0 0 0;
  width: 100%;
  background: #575757;
  height: 160px;
  display: table-cell;
  vertical-align: middle;
}  
.horario{
  border: none;
    margin: 0;
  width: 80%;
  padding: 0 10%;
  text-align: center;
  display:table-cell;
  height:160px;
  vertical-align: middle;
    float: none;
  font-size:12px !important;
  line-height:15px;
}
.horario p{
  margin:0;
}
/* tamaño texto destacado */
body.site-name-victor-grippo .horario{
  font-size:14px !important;
}

/*------ LOGO DEL SITIO ------*/
#header #block-views-logos-block{
    width: 100% !important;
    position: absolute;
    top: 52px;
    height: 54px !important;
    padding: 8px 0 !important;
    text-align:center;
    background:#352019;
    -webkit-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.3);
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}
#header #block-views-logos-block img{
  height:54px;
  width:auto;
}
/*--------------------------*/
/*-------- HOME ----------*/
/*------------------------*/
.front .videoResponsive{
  display:block;
}
.front .videoResponsive iframe{
  width:100% !important;
}
.front .views-field-field-video{
  display:none;
}
.front #main-content .views-field-body{
  width:100%;
  margin-top:20px;
}
/*----------------------------*/
/*----------- FOOTER ---------*/
/*----------------------------*/
#footer{
  width:90%;
  padding:0 5%;
}
.footerHorarios{
  margin: 0 !important;
  padding: 20px 0;
  width:100%;
}
.footerHorariosk p{
  margin:0;
}
.footerHorarios .columna1{
  float: left;
  width:100%;
  margin:0;
  text-align: left;
}
.footerHorarios .columna2{
  float: left;
  width: 100%;
  margin: 15px 0 0 0;
  padding: 10px 0 0 0;
  border-top: 1px solid rgba(255,255,255,.2);
}
.logoFooter{
  display:none;
}
.columnaUno{
  width:90%;
  margin:0 5%;
  padding:0;
}
.columnaDos{
  width: 90%;
  margin: 15px 5%;
  padding: 10px 0;
  border-top: 1px solid rgba(255,255,255,.2);
  border-bottom: 1px solid rgba(255,255,255,.2);
}
.columnaTres{
  width:90%;
  margin:0 5%;
  padding:0;
}

/*--- MENU FOOTER ---*/
.menuFooter{
  width: 90%;
    height: 25px;
      padding: 10px 5% !important;
    margin-bottom:20px;
    overflow: hidden;
    -moz-transition: height 1s ease;
    -webkit-transition: height 1s ease;
    -o-transition: height 1s ease;
   transition: height 1s ease;
    -webkit-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.3);
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.2);
    z-index: 9;
}
.menuFooter.paz{
  height: auto;
  padding: 10px 5% !important;
  overflow: inherit;
  display: inline-block;
 -moz-transition: height 1s ease;
  -webkit-transition: height 1s ease;
  -o-transition: height 1s ease;
  transition: height 1s ease;
}
.menuFooter a{
  display:block !important;
  text-transform:uppercase;
  height:35px;
}
.menuFooter.paz a{
  height:25px;
}
  
#footer2 .footer_links span{
  display:none;
}
#footer2 .link{
position: absolute;
  display: block;
  width: 50px;
  height: 50px;
  right: 5%;
  top: 5px;
  text-indent: -999em;
  content: '';
  background: url("../images/arrowDown.png") center center no-repeat;
  z-index: 999;
}
#footer2 .link.eco{
  background: url("../images/arrowUp.png") center center no-repeat;
}

/*--------------------------------*/
/*--------- EXPOSICIONES ---------*/
/*--------------------------------*/
.exposicion .view-header{
  width:100%;
}
.exposicion .view-content{
  width:100%;
}
.node-type-obra-coleccion .group-left,
.node-type-obra-coleccion .group-right{
  width:100%;
  padding:0;
  float:none;
}
.node-type-obra-coleccion .group-left{
  margin-bottom:20px;
}
/*----- bloque logos grippo ----------*/
#block-block-27{
  width:100%;
  overflow:auto;
  border-top: 1px solid rgba(255,255,255,.2);
  margin-bottom:20px !important;
}
#block-block-27 .block-inner{
  display: block;
  min-width: 438px;
  margin:0;
}
/*----------------------------------------*/
/*--------- COLUMNAS CONTENIDOS ---------*/
/*--------------------------------------*/
.contColumnas {
  display: block;
  position: relative;
  width: 100%;
}
.columna50Left,
.columna50LeftCenter,
.columna50LeftTop,
.columna50LeftTopCenter{
  width: 100%;
    display: block;
  padding-right:0;
  padding-bottom:10px;
}
.columna50Right,
.columna50RightCenter,
.columna50RightTop,
.columna50RightTopCenter{
  width: 100%;
    display: block;
  padding-left:0;
  padding-bottom:10px;
}

/*fin*/
}