@import url(http://fonts.googleapis.com/css?family=Expletus+Sans:400,400italic,500,500italic,600,600italic,700,700italic);
@import url(http://fonts.googleapis.com/css?family=Overlock:400,700,900,400italic,700italic,900italic);
@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300italic,300,400italic,500,500italic,700,700italic,900,900italic);

:root * { filter: progid:DXImageTransform.Microsoft.gradient(enabled='false') !important; } 

body{
	font-family:font-family: 'Overlock', cursive;;
}
div:not([dummy]) {
    /* IE9 only */
    filter: progid:DXImageTransform.Microsoft.gradient(enabled='false') !important;;
}
.search-info { 
 display: none; 
 }

#header-wrapper{
	/*background: url(images/header-bg.png) repeat-x;*/
	background: rgba(38, 58, 70, 0.8);
	height: 125px;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#CC263A46,endColorstr=#CC263A46);
}
#content-wrapper{
	line-height:1.4em;
}
#logo img {
	vertical-align: bottom;
	margin-top: 12px;
}

/*  ENCABEZADO   */
#leaderboard-wrapper {
	position: absolute;
	width:100%;
	font-family: 'Roboto', sans-serif;
	font-size: 11px;
	letter-spacing: 0.05em;

}
#leaderboard-wrapper #block-search-form{
	float:right;
	position:relative;
}

#leaderboard-wrapper #block-search-form input[type="search"] {
	border: 0 none;
	font-size: 11px;
	height: 20px;
	padding: 0 20px 0 5px;
	width: 236px;
	background: rgba(147, 164, 175, 0.7);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#B293A4AF,endColorstr=#B293A4AF);
	color:#FFF;
}
#leaderboard-wrapper #block-search-form input[type="submit"] {
	position: absolute;
	background: url("/william-kentridge/sites/default/files/icon_submit.png") no-repeat;
	height: 14px;
	right: 13px;
	top: 3px;
	width: 10px;
	text-indent: -9999px;
	border: 0px;
}


#leaderboard-wrapper #block-block-16{
	position:relative;
	width:940px;
	margin:0 auto;
}

#leaderboard-wrapper #block-block-16 .contenido{
	float:right;
	margin-top: 12px;
}
#leaderboard-wrapper #block-block-16 a{
	text-decoration:none;
	color:#72AABB;
}
#leaderboard-wrapper #block-block-16 a:hover{
	color:#DBA555;
}
.minlogo{
	float: left;
	margin-top: 6px;
}
.horario{
	float: left;
	width: 300px;
	padding: 0 20px;
	margin: 7px 0 0 0;
	border-left: 1px solid rgb(111,123,130);
	border-right: 1px solid rgb(111,123,130);
	line-height: 13px;
	color: #FFF;
}
.social-links {
	float:left;
	margin-right: 30px;
	height: 30px;
	margin-top: 25px;
	margin-bottom: 25px;
}
.social-links ul {
	overflow: hidden;
	margin: 0px 0px 22px 30px;
	padding: 0px;
	width: 84px;
	list-style: none;
}
.social-links li {
	float: left;
	margin: 0 0 0 6px;
}
.social-links a {
	display: block;
	width: 22px;
	height: 22px;
	background-position: left top;
	background-repeat: no-repeat;
	text-indent: -10000em;
	text-decoration: none;
}
.social-links a.botom {
	display: block;
	width: 116px;
	height: 20px;
	background: rgba(147, 164, 175, 0.7);
	font-weight: 700;
	text-indent: inherit;
	color: #FFF !important;
	text-align: center;
	line-height: 20px;
}
.social-links a.botom:hover {
	background: rgba(219, 165, 85, 1);
}
.social-links li.twitter a {
	background: url(/william-kentridge/sites/default/files/links.png) -22px 0px no-repeat;
}
.social-links li.twitter a:hover {
	background: url(/william-kentridge/sites/default/files/links.png) -22px -23px no-repeat;
}
.social-links li.facebook a {
	background: url(/william-kentridge/sites/default/files/links.png) 0px 0px no-repeat;
}
.social-links li.facebook a:hover {
	background: url(/william-kentridge/sites/default/files/links.png) 0px -23px no-repeat;
}
.social-links li.google a {
	background: url(/william-kentridge/sites/default/files/links.png) -43px 0px no-repeat;
}
.social-links li.google a:hover {
	background: url(/william-kentridge/sites/default/files/links.png) -43px -23px no-repeat;
}


/*-------------- menu -----------------*/
#menu-bar{
	margin: 0;
}
#nav-wrapper{
	/*background: url(images/nav-bg.png) repeat-x;*/
	height: 33px;
	background: rgba(22, 32, 37, 0.85);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#D8162025,endColorstr=#D8162025);
}

#block-nice-menus-1{
	font-family: 'Roboto', sans-serif;
	font-size: 13px;
	letter-spacing: 1px;
	font-weight: 300;
}
ul.nice-menu ul {
	border:0;
}

.nav li a, .nav ul.menu li a{
	padding-left:15px;
	padding-right:15px;
}
ul.nice-menu li{
	border: none;
	background: transparent;
	text-transform: uppercase;
	border-right: 1px solid rgb(90,98,100);
	
}
ul.nice-menu li:first-child{
	border-left:1px solid rgb(90,98,100);
}
ul.nice-menu a{
	text-decoration: none;
	color: #fff;
	display: block;
	height: 33px;
	line-height: 33px;
}
ul.nice-menu li:hover{
	background: rgba(22, 32, 37, 0.5);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#7F162025,endColorstr=#7F162025);
}
ul.nice-menu-down .menuparent a {

}
ul.nice-menu-down li.menuparent {
	background: transparent;
}
ul.nice-menu-down li.menuparent:hover {
  background: rgba(22, 32, 37, 0.5);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#7F162025,endColorstr=#7F162025);
}


/* segunda lista */
ul.nice-menu li.menuparent ul{
	margin-top:10px;
	background: rgba(51, 82, 102, 0.8);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#CC335266,endColorstr=#CC335266);
}
ul.nice-menu li.menuparent ul li{
	border-top: 1px solid rgb(83,103,116);
	border-right:none;
	text-transform: capitalize;
	width: 100%;
}

ul.nice-menu li.menuparent ul li:hover{
	background: rgba(51, 82, 102, 0.9);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#E5335266,endColorstr=#E5335266);
}	
ul.nice-menu-down li li.menuparent {
	background: rgba(51, 82, 102, 0.8);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#CC335266,endColorstr=#CC335266);
}
/* tercera lista */
ul.nice-menu li.menuparent ul li ul{
	margin-top:0px;
}
ul.nice-menu li.menuparent ul li ul li{
	width:auto;
	background: rgba(51, 82, 102, 0.8);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#CC335266,endColorstr=#CC335266);
	border-top: 1px solid rgb(83,103,116);
	border-right:none;
	border-left:none;
}
ul.nice-menu li.menuparent ul li ul li:hover{
	background: rgba(51, 82, 102, 0.9);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#E5335266,endColorstr=#E5335266);
}

/* estilos home */
.content-inner {
    margin-right: 0px;
    margin-left:0 !important;
}

.front .views-field-body{
	width: 430px;
	color: #FFF;
	float: left;
	margin-right: 20px;
	margin-bottom: 20px;
	font-size: 15px;
	line-height: 1.4em;
}
.front .views-field-field-video{
	padding-top: 140px;
	position: absolute;
	right: 0;
}
.view-inicio .views-row{
	position:relative;
}

.front .views-field-nothing-1{
	clear: both;
}

h2{
	color: #83A4BE;
	text-transform: uppercase;
	font-size: 24px;
	line-height:24px;
	font-family: 'bodoniflfbold';
	/*font-family: 'Expletus Sans', cursive;*/
	padding:22px 0 5px 0;
	margin:0 0 22px 0;
	border-bottom: 1px solid rgb(90,90,90);
}
h3{
	color: #fff;
	text-transform: uppercase;
	font-size: 15px;
	line-height: 15px;
	font-family: 'Expletus Sans', cursive;
	padding: 15px 0;
	margin: 0;
	font-weight: 600;
	letter-spacing: 0.05em;
	text-align:center;
}

.fortuna{
	color: #83A4BE;
}


#footer-wrapper{
	/*background: url(images/header-bg.png);*/
	height: 85px;
	background: rgba(38, 58, 70, 0.85);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#D8263A46,endColorstr=#D8263A46);
}
footer .block{
	float: left;
}
footer .block, footer h2, footer a{
	color: #fff;
}
#block-block-6{
	width: auto;
}
#block-block-8{
	width: auto;
}
#block-block-12{
	width: 68px;
	margin-top:20px;
}
#footer p{
	margin: 0;
}

#footer-wrapper2{
	/*background: url(images/footer2-bg.png);*/
	background: rgba(26, 32, 36, 0.9);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#E51A2024,endColorstr=#E51A2024);
}
#footer-wrapper2 a{
	color:#72AABB;
	font-size:11px;
}
#footer-wrapper2 a:hover{
	color:#DBA555;
}

#footer-wrapper2 .block-inner{
	padding-top:20px;
}

#footer2 p.footer_links{
	color: #72AABB !important;
	margin-left: 20px;
}
#footer2 p.footer_links a{
	font-size:12px;
	
}



/*-------- vista exposición ---------------*/
.view-vista-de-temas .view-header,
.view-exposicion .view-header,
.view-la-sala-en-exceso .view-header,
.view-la-sombra-de-una-sombra .view-header,
.view-tiempo-vertical .view-header,
.view-una-mirada-hacia-atr-s .view-header{
	float: left;
	width: 48%;
	margin-right:4%;
}
.view-vista-de-temas .view-content,
.view-exposicion .view-content, 
.view-la-sala-en-exceso .view-content,
.view-la-sombra-de-una-sombra .view-content,
.view-tiempo-vertical .view-content,
.view-una-mirada-hacia-atr-s .view-content{
	float: left;
	width: 48%;
	margin:0 auto;
}
.view-vista-de-temas table,
.view-exposicion table, 
.view-la-sala-en-exceso table,
.view-la-sombra-de-una-sombra table,
.view-tiempo-vertical table,
.view-una-mirada-hacia-atr-s table{
	border:none;
	float:right;
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
	letter-spacing: 0.05em;
	font-size: 11px;
	line-height: 1.5;
	margin:0;
	right:0;
}

.view-vista-de-temas .views-field,
.view-exposicion .views-field, 
.view-la-sala-en-exceso .views-field,
.view-la-sombra-de-una-sombra .views-field,
.view-tiempo-vertical .views-field,
.view-una-mirada-hacia-atr-s .views-field{
	text-align:center;
}
.view-vista-de-temas img,
.view-exposicion img, 
.view-la-sala-en-exceso img,
.view-la-sombra-de-una-sombra img,
.view-tiempo-vertical img,
.view-una-mirada-hacia-atr-s img{
border: 3px solid rgb(61, 62, 62);
}
.view-vista-de-temas table tbody tr,
.view-exposicion table tbody tr, 
.view-la-sala-en-exceso table tbody tr,
.view-la-sombra-de-una-sombra table tbody tr,
.view-tiempo-vertical table tbody tr,
.view-una-mirada-hacia-atr-s table tbody tr{
	border:0px;
}
.view-vista-de-temas table tbody td,
.view-exposicion table tbody td, 
.view-la-sala-en-exceso table tbody td,
.view-la-sombra-de-una-sombra table tbody td,
.view-tiempo-vertical table tbody td,
.view-una-mirada-hacia-atr-s table tbody td{
	width:50%;
}
.view-vista-de-temas h3,
.view-exposicion h3, 
.view-la-sala-en-exceso h3,
.view-la-sombra-de-una-sombra h3,
.view-tiempo-vertical h3,
.view-una-mirada-hacia-atr-s h3{
	text-align:left;
}



#block-block-14{
	font-family: 'Roboto', sans-serif;
}

/* Estilos del menu general del Banco de la República */
.block-menu-men-banrep {
  margin: 0;
  font-family: 'Roboto',sans-serif;
  font-size: 13px;
  background: rgba(38,58,70,0.8);
}
.block-menu-men-banrep ul {
  padding: 0;
  display: table;
  margin: 0 auto;
  height: 28px;
  line-height: 28px;
  text-transform: uppercase;
  font-size: 11px;
  letter-spacing: 0.018em;
  font-weight: 500;
}
.block-menu-men-banrep li {
  display: inline-block;
}
.block-menu-men-banrep li a {
  color: #FFF;
  padding: 0 10px;
  display: block;
  text-align: center;
}
.block-menu-men-banrep li:nth-child(1) {
  background-color: #7D7D7D;
}
.block-menu-men-banrep li:nth-child(2) {
  background-color: #866699;
}
.block-menu-men-banrep li:nth-child(3) {
  background-color: #EE9900;
}
.block-menu-men-banrep li:nth-child(4) {
  background-color: #A5B733;
}
.block-menu-men-banrep li:nth-child(5) {
  background-color: #559CC4;
}
.block-menu-men-banrep li:nth-child(6) {
  background-color: #A06B30;
}
.block-menu-men-banrep li:nth-child(7) {
  background-color: #CC0022;
}
/* Fin Estilos del menu general del Banco de la República */

@media only screen and (min-width:280px) and (max-width:999px){
	/*--------------------------*/
	/*-------- GENERAL ---------*/
	/*------------------------*/
	#bg{
		display:none;
	}
	.backstretch{
	  display:none;
	}
	.block-inner{
	  margin-left:0;
	  margin-right:0;
	}
	#nav-wrapper{
	  height:auto !important;
	}
	#main-content{
	  width:90%;
	  padding:20px 5% !important;
	  background:rgba(7,7,7,0.8) !important;
	  margin:0;
	}
	.front #header-wrapper{
	  height:282px !important;
	}
	.not-front #header-wrapper{
	  height:122px !important;
	}
	/*footer*/
	#footer-wrapper {
	  -webkit-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.3);
	    -moz-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.3);
	    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.2);
	    z-index: 9;
	}
	.footerHorarios{
	  font-size:11px;
	  line-height:15px;
	}
	/*--------------------------*/
	/*-------- HEADER ---------*/
	/*------------------------*/
	#block-search-form{
	  display:none;
	}
	.blockRedesLogo{
	  position:absolute !important;
	  z-index:999999;
	  width:50%;
	  right:0;
	}
	.blockRedesLogo .contenido{
	  margin-top:0 !important;
	  float: none !important;
	}
	.minlogo{
	  margin-top: 3px;
	  position: absolute;
	  left: 50%;
	  top: 0;
	  z-index: 9999999;
	}
	.minlogo img{
	  width:35px;
	}
	.social-links {
	  margin-top: 3px;
      position: absolute;
      margin-right: 3px;
      right: 0;
      top: 0;
      z-index: 9999999;
	}
	.social-links ul{
	  width:auto;
	  margin:10px 12px 0 0;
	}
	/*-------- DESTACADO HEADER -----*/
	.not-front #block-views-destacado-header-block{
	  display:none;
	}
	#block-views-destacado-header-block{
	  margin: 122px 0 0 0 !important;
	  height: 160px;
	  display: table-cell;
	  vertical-align: middle;
	} 
	#leaderboard-wrapper #block-block-16 {
		width: 100%;
	}
	.horario{
	  border: none;
	  margin: 0;
	  width: 80%;
	  padding: 0 10%;
	  text-align: center;
	  display:table-cell;
	  height:340px;
	  vertical-align: middle;
	  float: none;
	  font-size:12px !important;
	  line-height:15px;
	}
	.horario p{
	  margin:0;
	}

	/*------ LOGO DEL SITIO ------*/
	#header-wrapper #logo{
	    width: calc(100% - 16px) !important;
	    position: absolute;
	    top: 64px;
	    height: 54px !important;
	    padding: 8px 0 !important;
	    text-align:center;
	    z-index: 999999;
	}
	#header-wrapper #logo img{
	  height:54px;
	  width:auto;
	}
	/*--------------------------*/
	/*-------- HOME ----------*/
	/*------------------------*/
	.front .videoResponsive{
	  display:block;
	}
	.front .videoResponsive iframe{
	  width:100% !important;
	}
	.front .views-field-field-video{
	  display:none;
	}
	.front #main-content .views-field-body{
	  width:100%;
	  margin-top:20px;
	}
	/*----------------------------*/
	/*----------- FOOTER ---------*/
	/*----------------------------*/
	#footer{
	  width:90%;
	  padding:0 5%;
	}
	#footer-wrapper2{
		height: auto;
	}
	#footer-wrapper2 .footer_links {
		margin-top: -16px !important;
	}
	#footer-wrapper2 table{
		width: 100% !important;
		overflow: scroll;
	}
	.footerHorarios{
	  margin: 0 !important;
	  padding: 20px 0;
	  width:100%;
	}
	.footerHorariosk p{
	  margin:0;
	}
	.footerHorarios .columna1{
	  float: left;
	  width:100%;
	  margin:0;
	  text-align: left;
	}
	.footerHorarios .columna2{
	  float: left;
	  width: 100%;
	  margin: 15px 0 0 0;
	  padding: 10px 0 0 0;
	  border-top: 1px solid rgba(255,255,255,.2);
	}
	.logoFooter{
	  display:none;
	}
	.columnaUno{
	  width:90%;
	  margin:0 5%;
	  padding:0;
	}
	.columnaDos{
	  width: 90%;
	  margin: 15px 5%;
	  padding: 10px 0;
	  border-top: 1px solid rgba(255,255,255,.2);
	  border-bottom: 1px solid rgba(255,255,255,.2);
	}
	.columnaTres{
	  width:90%;
	  margin:0 5%;
	  padding:0;
	}

	/*--- MENU FOOTER ---*/
	.menuFooter{
		width: 90%;
		height: 25px;
		padding: 10px 5% !important;
		margin-bottom:20px;
		overflow: hidden;
		-moz-transition: height 1s ease;
		-webkit-transition: height 1s ease;
		-o-transition: height 1s ease;
		transition: height 1s ease;
		-webkit-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.3);
		-moz-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.3);
		box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.2);
		z-index: 9;
	}
	.menuFooter.paz{
	  height: auto;
	  padding: 10px 5% !important;
	  overflow: inherit;
	  display: inline-block;
	 -moz-transition: height 1s ease;
	  -webkit-transition: height 1s ease;
	  -o-transition: height 1s ease;
	  transition: height 1s ease;
	}
	.menuFooter a{
	  display:block !important;
	  text-transform:uppercase;
	  height:35px;
	}
	.menuFooter.paz a{
	  height:25px;
	}
	  
	#footer2 .footer_links span{
	  display:none;
	}
	#footer2 .link{
	position: absolute;
	  display: block;
	  width: 50px;
	  height: 50px;
	  right: 5%;
	  top: 5px;
	  text-indent: -999em;
	  content: '';
	  background: url("../images/arrowDown.png") center center no-repeat;
	  z-index: 999;
	}
	#footer2 .link.eco{
	  background: url("../images/arrowUp.png") center center no-repeat;
	}

	/*--------------------------------*/
	/*--------- EXPOSICIONES ---------*/
	/*--------------------------------*/
	.exposicion .view-header{
	  width:100%;
	}
	.exposicion .view-content{
	  width:100%;
	}
	.node-type-obra-coleccion .group-left,
	.node-type-obra-coleccion .group-right{
	  width:100%;
	  padding:0;
	  float:none;
	}
	.node-type-obra-coleccion .group-left{
	  margin-bottom:20px;
	}
	/*----- bloque logos grippo ----------*/
	#block-block-27{
	  width:100%;
	  overflow:auto;
	  border-top: 1px solid rgba(255,255,255,.2);
	  margin-bottom:20px !important;
	}
	#block-block-27 .block-inner{
	  display: block;
	  min-width: 438px;
	  margin:0;
	}
	/*----------------------------------------*/
	/*--------- COLUMNAS CONTENIDOS ---------*/
	/*--------------------------------------*/
	.contColumnas {
	  display: block;
	  position: relative;
	  width: 100%;
	}
	.columna50Left,
	.columna50LeftCenter,
	.columna50LeftTop,
	.columna50LeftTopCenter{
	  width: 100%;
	    display: block;
	  padding-right:0;
	  padding-bottom:10px;
	}
	.columna50Right,
	.columna50RightCenter,
	.columna50RightTop,
	.columna50RightTopCenter{
	  width: 100%;
	    display: block;
	  padding-left:0;
	  padding-bottom:10px;
	}

/*fin*/
}